<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :status, :disabled => f.object.new_record? %>
  </div>

  <div class="yui3-u-1-5">
    <%= f.input :deactivation_date %>
  </div>
</div>

<script>
  $('#precatory_type_status').change(function() {
    enableOrDisableDeactivationDate();
  });

  function enableOrDisableDeactivationDate() {
    if ($('#precatory_type_status').val() == '<%= PrecatoryTypeStatus::INACTIVE %>'){
      $('#precatory_type_deactivation_date').removeAttr('disabled');
      setDeactivationDateRequired();
    }else {
      $('#precatory_type_deactivation_date').attr('disabled', 'disabled');
      $('label[for="precatory_type_deactivation_date"] abbr').remove();
    }
  }

  function setDeactivationDateRequired() {
    var required_tag = '<abbr title="required">*</abbr>';

    $('label[for="precatory_type_deactivation_date"]').append(required_tag);
  }

  enableOrDisableDeactivationDate();
</script>
