<div class="buttons">
  <%= f.button :submit if can?(:modify, main_controller_name) %>
  <%= link_to t(:back), classification_trading_item_path(@parent), :class => 'button' %>
</div>

<%= javascript_include_tag 'trading_item_bid' %>
