<div class="buttons">
  <%= f.button :submit %>
  <%= link_to t(:back), trading_items_path(:trading_id => @parent.trading_id), :class => 'button' %>
</div>

<%= javascript_include_tag 'trading_item_bid' %>
