<table class="records">
  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td>
          <%= link_to resource, edit_resource_path(resource) %>
        </td>
        <td class="right">
          <%= link_to "Fazer oferta", new_trading_item_bid_path(:trading_item_id => resource.id), 
            :class => "button primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
