<table class="records">
  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td>
          <%= link_to resource, edit_trading_item_path(resource, :trading_id => @parent.id) %>
        </td>
        <td class="right">
          <%= link_to "Fazer oferta", resource.decorator.trading_item_bid_or_classification_path,
              :class => "button primary",
              'data-disabled' => resource.decorator.must_have_minimum_reduction %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
