<h2 id="title">
  Gestão de Contratos e Pedidos de Fornecimento
</h2>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <div class="card">
      <%= render 'contracts' %>
    </div>
  </div>


  <div class="yui3-u-1-2">
    <div id="approval_requests" class="card">
      <%= render 'approval_request_list' %>
    </div>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">

  </div>
  <div class="yui3-u-1-2">

  </div>
</div>

<style>
  .card{
    background-color: white;
  }

  .d-block{
    display: block;
  }
  .justify-content-between{
    justify-content: space-between;
  }

  .text-15{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  .mt-1{
    margin-top: 1rem;
  }

  .mt-2{
    margin-top: 2rem
  }
  .btn-fillter{
    width: 80px;
    height: 80px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border: transparent;
  }

  .by_121_150{
    background-image: linear-gradient( #82bcdd,darkblue);
  }

  .by_91_120{
    background-image: linear-gradient(#3284B6, #82bcdd);
  }

  .by_61_90{
    background-color: #3284B6;
  }

  .by_31_60{
    background-color: #42709F;
  }

  .until_30{
    background-color: #d31515;
  }

  .title-table{
    font-weight: bold;
  }

  .card tr{
    font-size: 10px
  }
  .card{
    border: solid 1px #e4e3e3;
    padding: 5px;
    min-height: 250px
  }

  #container{
    width: 1280px;
  }

  .blue{
    color: #4c7baa;
  }
</style>