<h2 id="title">
  Gestão de Contratos e Pedidos de Fornecimento
</h2>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <div class="contract_deadline">
      <%= render 'contracts' %>
    </div>
  </div>


  <div class="yui3-u-1-2">

  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-2">

  </div>
  <div class="yui3-u-1-2">

  </div>
</div>

<style>
  .contract_deadline{
    background-color: white;
  }
  .d-flex{
    display: flex;
  }
  .d-block{
    display: block;
  }
  .justify-content-between{
    justify-content: space-between;
  }
  .text-center{
    text-align: center;
  }
  .text-15{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  .mt-1{
    margin-top: 1rem;
  }

  .mt-2{
    margin-top: 2rem
  }
  .btn-fillter{
    width: 80px;
    height: 80px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
  }

  .by_121_150{
    background-color: darkgreen;
  }

  .by_91_120{
    background-color: darkblue;
  }

  .by_61_90{
    background-color: #ffe699;
  }

  .by_31_60{
    background-color: orange;
  }

  .by_30{
    background-color: darkred;
  }

    .title-table{
      font-weight: bold;
    }
</style>