<div class="box">
  <p class="message">Sua página inicial está vazia.</p>

  <p class="message">Clique no botão abaixo para adicionar atalhos para os cadastros que você mais utiliza.</p>

  <p class="buttons"><%= link_to 'Adicionar Cadastros', new_bookmark_path, :class => 'button neutral' %></p>
</div>
