<h2>Favoritos</h2>

<p>Sua página inicial está vazia.</p>

<p>Clique no botão abaixo para adicionar atalhos para os cadastros que você mais utiliza.</p>

<p><%= link_to 'Adicionar Cadastros', new_bookmark_path, :class => 'button primary' %></p>
