<div class="breadcrumb">
  <ul>
    <li>Favoritos</li>
  </ul>
</div>

<div class="help">
  <p>Adicione os cadastros que você utiliza com frequência para a lista de favoritos.</p>
  <p>Sempre que você acessar o sistema, eles estarão disponíveis aqui para facilitar o seu trabalho.</p>
</div>

<div class="actions">
  <ul>
    <li><%= link_to 'Editar', edit_bookmark_path, :class => 'button primary' %></li>
  </ul>
</div>

<div class="links">
  <%= bookmarks %>
</div>
