<div class="actions">
  <ul>
     <li>
      <%= link_to "Voltar para o Contrato #{@parent}", edit_contract_path(@parent) %>
     </li>

    <% if create? 'contracts' %>
      <li>
        <%= create_link(:contract_id => @parent.id) %>
      </li>
    <% end %>
  </ul>
</div>
