<div class="buttons">
  <%= f.button :submit unless f.object.annulled? %>
  <%= annul_link %>
  <%= f.button :back, :href => contract_terminations_path(:contract_id => resource.contract_id) %>
</div>
