<div class="buttons">
  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'data-disabled' => f.object.decorator.is_annulled_message %>
  <% end %>

  <%= annul_link %>
  <%= f.button :back, :href => edit_contract_path(f.object.contract) %>
</div>
