<div class="tabs">
  <ul>
    <li><a href="#principal">Principal</a></li>
    <li><a href="#total">Total acumulado</a></li>
    <li><a href="#material">Materiais</a></li>
  </ul>

  <div id="principal">
    <%= render 'main', :f => f %>
  </div>

  <div id="total">
    <%= render 'total', :f => f %>
  </div>

  <div id="material">
    <%= render 'materials', :f => f %>
  </div>
</div>
