<div class="tabs">
  <ul>
    <li>
      <a href="#main">Solicitação de Compra</a>
    </li>

    <li>
      <a href="#secretary-balance">Secretaria / Saldo</a>
    </li>

    <li>
      <a href="#budgetary">Dados Orçamentarios</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="secretary-balance">
    <%= render 'purchase_solicitation_secretaries', :f => f %>
  </div>

  <div id="budgetary">
    <%= render 'budgetary', :f => f %>
  </div>

</div>