<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#items-tab">Itens</a>
    </li>

    <li>
      <a href="#purchase-forms">Ficha de Compra</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="items-tab">
    <%= render 'items', :f => f %>
  </div>

  <div id="purchase-forms">
    <%= render 'purchase_form', :f => f %>
  </div>

</div>