<div class="tabs">
  <ul>
    <li><a href="#general">Dados gerais</a></li>
    <li><a href="#budget-allocations">Dotações orçamentárias</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="budget-allocations">
    <%= render 'budget_allocations', :f => f %>
  </div>
</div>

<script>
  $('form.purchase_solicitation').delegate('.material', 'change', function (event, material) {
    if (material) {
      $(this).closest('.item').find('.reference-unit').val(material.reference_unit);
    }
  });

  function calcItemOrder() {
    $('.purchase-solicitation-budget-allocation').each(function(index, item){
      $(this).find('.item .hidden .destroy[value=false]').each(function(index, item){
        $(this).parent().parent().find('.order').val(index + 1);
      });
    });
  }

  function calculateItemsTotalValue() {
    var total = new BigNumber(0),
        value;
    $('.item-price:visible').each(function() {
      value = $(this).attr('value');
      if (value) {
        total = total.add(parsePtBrFloat(value));
      }
    });
    $('#purchase_solicitation_total_allocations_items_value').val(floatToPtBrString(parseFloat(total)));
  }

  $('form.purchase_solicitation').delegate('.item-quantity, .item-unit-price', 'keyup', function() {
    var itemDiv = $(this).closest('.item'),
        itemQuantity = new BigNumber(parsePtBrFloat(itemDiv.find('.item-quantity').val() || '0')),
        itemUnitPrice = new BigNumber(parsePtBrFloat(itemDiv.find('.item-unit-price').val() || '0')),
        total = itemQuantity.multiply(itemUnitPrice);

    itemDiv.find('.item-price').val(floatToPtBrString(parseFloat(total)));
    calculateItemsTotalValue();
  });

  $('form.purchase_solicitation').delegate('.item-price', 'keyup', function() {
    var itemDiv = $(this).closest('.item'),
        itemQuantity = new BigNumber(parsePtBrFloat(itemDiv.find('.item-quantity').val() || '0')),
        itemPrice = new BigNumber(parsePtBrFloat(itemDiv.find('.item-price').val() || '0')),
        unitPrice = itemPrice.divide(itemQuantity);

    itemDiv.find('.item-unit-price').val(floatToPtBrString(parseFloat(unitPrice)));
    calculateItemsTotalValue();
  });

  $('form.purchase_solicitation').delegate('.remove-purchase-solicitation-budget-allocation, .remove-item', 'click', function() {
    calculateItemsTotalValue();
    calcItemOrder();
  });

  $('form.purchase_solicitation').bind('append.mustache', function(){
    calcItemOrder();
  });

  calcItemOrder();
</script>
