<div class="buttons">
  <%= annul_link %>
  <%= f.button :submit unless f.object.annulled? %>
  <% unless f.object.decorator.hide_liberation_button? %>
    <%= link_to f.object.decorator.liberation_label, f.object.decorator.liberation_url, :class => 'button primary' %>
  <% end %>
  <%= f.button :cancel %>
</div>
