<div class="tabs">
  <ul>
    <li><a href="#general">Dados gerais</a></li>
    <li><a href="#items">Itens</a></li>
    <li><a href="#budget-allocations">Dotações orçamentárias</a></li>
  </ul>
  <div id="general">
    <%= render 'general', :f => f %>
  </div>
  <div id="items">
    <%= render 'items', :f => f %>
  </div>
  <div id="budget-allocations">
    <%= render 'budget_allocations', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    },
  });

  (function toggleBudgetAllocations(){
    if ($("#bt_allocation").attr('value') != ''){
      $('#budget_allocations_selector').hide();
      $('#message-no-extra-allocations').show();
      $('table.records').append('<tr class="record"><td>' + $('#bt_allocation').attr('value') + '</td><td></td></tr>');
    }else{
      $('#budget_allocations_selector').show();
      $('#message-no-extra-allocations').hide();
    }
    $("#bt_allocation").change(toggleBudgetAllocations);
  })();
</script>
