<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#items-tab">Itens</a>
    </li>

    <li>
      <a href="#budget-allocations">Dotações orçamentárias</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="items-tab">
    <%#= render 'items', :f => f %>

    <div class="modal-finder" >
      <%#= f.input :material, :as => :modal , :url => modal_materials_path() %>
      <%#= f.input :materials, :as => :modal , :url => modal_material_path() %>
    </div>

  </div>

  <div id="budget-allocations">
    <%= render 'budget_allocations', :f => f %>
  </div>
</div>
