<%= f.input :demand_id, as: :hidden %>

<div id="item-tab">

  <%= f.input :items, as: :nested_grid, data_disabled: (f.object.decorator.is_annulled_message or f.object.decorator.licitation_process_started),
              columns: [:material, :lot, :reference_unit, :brand, :quantity, :unit_price, :estimated_total_price] %>
</div>
