<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :tce_code %>
  </div>

  <div class="yui3-u-4-5">
    <%= f.input :name %>
  </div>
</div>

<%= f.input :main_tag %>
<%= f.input :function %>
