<div class="buttons">
  <%= f.button :submit if f.object.waiting? %>
  <%= link_to "Imprimir", resource_path(resource), :class => 'clear button neutral' if f.object.persisted? %>
  <%= f.button :cancel %>
</div>
