<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :account_plan_configuration %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :checking_account, :disabled => f.object.account_plan_configuration.blank? %>
  </div>
</div>

<%= f.input :title %>
<%= f.input :function %>
