<table class="records">
  <thead>
    <tr>
      <th>
        <%= resource_class.human_attribute_name :description %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% localized(collection) do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td>
          <%= link_to resource, edit_resource_path(resource) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
