<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#expirations">Vencimentos</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="expirations">
    <%= render 'expirations', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    }
  });

  <% if f.object.persisted? %>
    $('form.subpledge :input').attr('disabled', true);
  <% else %>
    function cleanExistingPledgeExpirations() {
      $('#expirations tbody').html('');
    }

    function createPledgeExpirationsFromPledge(pledgeExpirations) {
      var template = $('#pledge-expiration-template'),
          rendered = '';

      $(pledgeExpirations).each(function() {
        rendered += template.mustache({
          expiration_date: this.expiration_date,
          value: this.value,
          number: this.number,
          balance: this.balance
        });
      });

      $('#expirations tbody').html(rendered);
    }

      $('#subpledge_pledge_id').change(function(event, data) {
        cleanExistingPledgeExpirations();

        if (data) {
          var record = data.record;
          $('#subpledge_pledge_creditor').val(record.data("creditor"));
          $('#subpledge_emission_date').val(record.data("emission-date"));
          $('#subpledge_pledge_value').val(record.data("pledge-value"));
          $('#subpledge_balance').val(record.data("balance"));
          $('#subpledge_value').val(record.data("balance"));
          $('#subpledge_creditor_id').val(record.data("creditor-id"));
          $('#subpledge_creditor').val(record.data("creditor"));
          $('#subpledge_description').val(record.data("description"));
          createPledgeExpirationsFromPledge(record.data("pledge-expirations"));
        } else {
          $('#subpledge_pledge_creditor').val('');
          $('#subpledge_emission_date').val('');
          $('#subpledge_pledge_value').val('');
          $('#subpledge_balance').val('');
        }
      });
  <% end %>
</script>
