<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#expirations">Vencimentos</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="expirations">
    <%= render 'expirations', :f => f %>
  </div>
</div>

<script>
  <% if f.object.persisted? %>
    $('form.subpledge :input').attr('disabled', true);
  <% else %>
    function fillExpirationNumber() {
      $('div.subpledge-expiration .destroy[value=false]').each(function(index, item){
        $(this).parent().parent().find('.order').val(index + 1);
      });
    }

    function cleanExistingPledgeParcels() {
      $('#expirations tbody').html('');
    }

    function createPledgeParcelsFromPledge(pledgeExpirations) {
      var template = $('#pledge-expiration-template'),
          rendered = '';

      $(pledgeExpirations).each(function() {
        rendered += template.mustache({
          expiration_date: this.expiration_date,
          value: this.value,
          number: this.number,
          pledge_balance: this.pledge_balance
        });
      });

      $('#expirations tbody').html(rendered);
    }

      $('#subpledge_pledge_id').change(function(event, data) {
        cleanExistingPledgeParcels();

        if (data) {
          var record = data.record;
          $('#subpledge_pledge_provider').val(record.data("provider"));
          $('#subpledge_emission_date').val(record.data("emission-date"));
          $('#subpledge_pledge_value').val(record.data("pledge-value"));
          $('#subpledge_pledge_balance').val(record.data("balance"));
          $('#subpledge_value').val(record.data("balance"));
          $('#subpledge_provider_id').val(record.data("provider-id"));
          $('#subpledge_provider').val(record.data("provider"));
          $('#subpledge_description').val(record.data("description"));
          createPledgeParcelsFromPledge(record.data("pledge-expirations"));
        } else {
          $('#subpledge_pledge_provider').val('');
          $('#subpledge_emission_date').val('');
          $('#subpledge_pledge_value').val('');
          $('#subpledge_pledge_balance').val('');
        }
      });

    $('form.subpledge').delegate('.remove-subpledge-expiration', 'click', fillExpirationNumber);
    $('form.subpledge').bind('append.mustache', fillExpirationNumber);

    fillExpirationNumber();
  <% end %>
</script>
