<div class="nested-process_responsibles">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g nested">
    <div class="yui3-u-1-3">
      <%= f.input :stage_process,
        :modal_url => modal_stage_processes_path(
          stage_process: {
            type_of_purchase: f.object.licitation_process_type_of_purchase
            },
          locked_fields: [:type_of_purchase]) %>
    </div>
    <div class="yui3-u-1-3">
      <%= f.input :employee %>
    </div>
    <div class="yui3-u-1-8 nested-remove">
      <input type="button" class="button negative remove-process_responsibles" value="Remover">
    </div>
  </div>
</div>
