<div class="tabs">
  <ul>
    <li><a href="#tab-record-price-main">Principal</a></li>
    <li><a href="#tab-record-price-items">Itens por Estruturas Orçamentárias Participantes</a></li>
  </ul>

  <div id="tab-record-price-main">
    <%= render 'main', :f => f %>
  </div>

  <div id="tab-record-price-items">
    <%= render 'items', :f => f %>
  </div>
</div>
