<div class="buttons">
  <%= annul_link(:data_disabled => f.object.decorator.not_annullable_message) %>
  <%= f.button :submit, 'data-disabled' => f.object.decorator.not_allow_submit_message %>
  <%= f.button :back %>
</div>
