<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#planning">Programação</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="planning">
    <%= render 'planning', :f => f %>
  </div>
</div>

<script>
  var function_id = $('#budget_allocation_function_id').val();

  $('#budget_allocation_function_id').change(function() {
    if (this.value) {
      $('#budget_allocation_subfunction').attr('disabled', false);
      $('#budget_allocation_subfunction').attr('data-modal-url', subfunctionModalUrl);
    } else {
      $('#budget_allocation_subfunction').attr('disabled', true);
    }

    clearFunction();
  }).change();

  function clearFunction() {
    if ($('#budget_allocation_function_id').val() != function_id) {
      function_id = $('#budget_allocation_function_id').val();

      $('#budget_allocation_subfunction').val('');
      $('#budget_allocation_subfunction_id').val('');
    }
  }

  function subfunctionModalUrl() {
    var url = "<%= modal_subfunctions_path %>?",

        params = {
          locked_fields: ["function"],
          subfunction: {
            function_id: $('#budget_allocation_function_id').val()
          }
        };

    url += jQuery.param(params);

    return url;
  }

  function applyMonthValue(value) {
    $('#month').find('td.value').each(function(){
      $(this).html(numberWithDelimiter(value));
    });
  }

  function calculateDivide(){
    var input_value = $('#budget_allocation_amount').val();

    if (input_value) {
      inputed = new BigNumber(parsePtBrFloat(input_value));
      value = inputed.divide(new BigNumber(12));
      calculed = toFixedRoundDown(parseFloat(value));
      applyMonthValue(calculed);

      calculed = new BigNumber(calculed.toFixed(2));
      rest = inputed.subtract(calculed.multiply(12));
      result = numberWithDelimiter(parseFloat(calculed.add(rest)));

      $('#month_12').find('td.value').html(result);
    }
  }

  $('#budget_allocation_kind').on('change', function(){
    var kind = $(this).val();

    if (kind === '<%= BudgetRevenueKind::DIVIDE %>') {
      $('#budget_allocation_amount').attr('disabled', false);
      calculateDivide();
    } else {
      applyMonthValue(0);
      $('#budget_allocation_amount').val('').attr('disabled', true);
    }
  }).change();

  $('form.budget_allocation').on('keyup', '#budget_allocation_amount', calculateDivide);
</script>
