<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#planning">Programação</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="planning">
    <%= render 'planning', :f => f %>
  </div>
</div>

<script>
  var function_id = $('#budget_allocation_function_id').val();

  $('#budget_allocation_function_id').change(function() {
    if (this.value) {
      $('#budget_allocation_subfunction').attr('disabled', false);
      $('#budget_allocation_subfunction').attr('data-modal-url', subfunctionModalUrl);
    } else {
      $('#budget_allocation_subfunction').attr('disabled', true);
    }

    clearFunction();
  }).change();

  function clearFunction() {
    if ($('#budget_allocation_function_id').val() != function_id) {
      function_id = $('#budget_allocation_function_id').val();

      $('#budget_allocation_subfunction').val('');
      $('#budget_allocation_subfunction_id').val('');
    }
  }

  function subfunctionModalUrl() {
    var url = "<%= modal_subfunctions_path %>?",

        params = {
          locked_fields: ["function"],
          subfunction: {
            function_id: $('#budget_allocation_function_id').val()
          }
        };

    url += jQuery.param(params);

    return url;
  }

  function applyMonthValue(value) {
    $('#month').find('td.value').each(function(){
      $(this).html(numberWithDelimiter(value));
    });
  }

  function calculateDivide(){
    var input_value = $('#budget_allocation_amount').val();

    if (input_value) {
      value = new BigNumber(parsePtBrFloat(input_value));
      calculed = new BigNumber(parseFloat(value.divide(new BigNumber(12))));
      applyMonthValue(toFixedRoundDown(calculed));

      rest = value.subtract(calculed.multiply(new BigNumber(12)));

      result = calculed.add(rest);

      $('#month_12').find('td.value').html(numberWithDelimiter(parseFloat(result)));
    }
  }

  $('#budget_allocation_kind').on('change', function(){
    var kind = $(this).val();

    if (kind === '<%= RevenueAccountingKind::DIVIDE %>') {
      $('#budget_allocation_amount').attr('disabled', false);
      calculateDivide();
    } else {
      applyMonthValue(0);
      $('#budget_allocation_amount').val('').attr('disabled', true);
    }
  }).change();

  $('form.budget_allocation').delegate('#budget_allocation_amount', 'keyup', calculateDivide);
</script>
