<div class="actions">
  <ul>
    <% if create? %>
      <li>
        <%= create_link people_type %>
      </li>
    <% end %>

    <% if filter? %>
      <li>
        <%= filter_link %>
      </li>
    <% end %>
  </ul>
</div>
