h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #519AE4;
  text-decoration: underline;
}

#container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
  margin: 1em auto;
  padding: 0 1em;
  width: 1002px;
}

.signature {
  margin-top: 50px;
}

.signature hr {
  max-width: 240px;
}

.name-position {
  text-align: center;
}

@media print {
  #container {
    padding: 0;
    width: auto;
  }
}
