<%= f.input :administrative_process_id, :as => :hidden %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :employee, :disabled => f.object.persisted? %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :date, :disabled => f.object.persisted? %>
  </div>
</div>
