<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#complement">Complementar</a></li>
    <li><a href="#items">Itens</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="complement">
    <%= render 'complement', :f => f %>
  </div>

  <div id="items">
    <%= render 'items', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    },
    select: function() {
      $('#replicated_value').val($('#pledge_value').val());
    }
  });
  $("#pledge_reserve_fund_id").change(function (event, data) {
    if (data) {
      var record = data.record;
      $('#pledge_reserve_fund_value').val(record.data("reserve-fund-value"));
    } else {
      $('#pledge_reserve_fund_value').val('');
    }
  });

  $("#pledge_budget_allocation_id").change(function (event, data) {
    if (data) {
      var record = data.record;

      $('#pledge_budget_allocation_amount').val(record.data("amount"));
      $('#pledge_budget_allocation_function').val(record.data("function"));
      $('#pledge_budget_allocation_subfunction').val(record.data("subfunction"));
      $('#pledge_budget_allocation_government_program').val(record.data("government_program"));
      $('#pledge_budget_allocation_government_action').val(record.data("government_action"));
      $('#pledge_budget_allocation_organogram').val(record.data("organogram"));
      $('#pledge_budget_allocation_expense_economic_classification').val(record.data("expense_economic_classification"));
    } else {
      $('#pledge_budget_allocation_amount').val('');
      $('#pledge_budget_allocation_function').val('');
      $('#pledge_budget_allocation_subfunction').val('');
      $('#pledge_budget_allocation_government_program').val('');
      $('#pledge_budget_allocation_government_action').val('');
      $('#pledge_budget_allocation_organogram').val('');
      $('#pledge_budget_allocation_expense_economic_classification').val('');
    }
  });

  $("#pledge_management_contract_id").change(function (event, data) {
    if (data) {
      var record = data.record;

      $('#pledge_management_contract_signature_date').val(record.data("signature-date"));
    } else {
      $('#pledge_management_contract_signature_date').val('');
    }
  });

  function pledgeItemsTotalValue() {
    var total = 0,
        value;
    $.each($('.item-price:visible'), function() {
      value = $(this).attr('value')
      if (value != '') {
        total += parsePtBrFloat(value);
      }
    });
    return floatToPtBrString(total);
  }

  $('form.pledge').delegate('.item-quantity, .item-unit-price', 'keyup', function() {
    $('#pledge_items_total_value').val(pledgeItemsTotalValue);
  });

  $('form.pledge').delegate('.remove-pledge-item', 'click', function() {
    $('#pledge_items_total_value').val(pledgeItemsTotalValue);
  });

  (function() {
    if(<%= f.object.persisted? %>) {
      $('form.pledge input, select, textarea').attr('disabled', true);
      $('form.pledge .add-pledge-item').hide();
      $('form.pledge .remove-pledge-item').hide();
      $('form.pledge .hint').hide();
    }
  })();
</script>
