<%= f.input :descriptor %>
<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :acronym %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :status, :disabled => f.object.new_record? %>
  </div>
</div>
