<div class="buttons">
  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit %>
  <% end %>

  <%= f.button :back, href: creditors_purchase_process_creditor_proposals_path(licitation_process_id: resource.licitation_process) %>
</div>
