<tr>
  <td><%= creditor.to_s %></td>
  <td><%= creditor.person_email %></td>

  <td>
    <%= link_to realignment_link_title(licitation_process.id, creditor.id),
      realignment_path_helper(licitation_process.id, creditor.id) %>
  </td>
</tr>
