<div class="buttons">
  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit %>
  <% end %>

  <%= f.button :back, href: edit_licitation_process_path(f.object.purchase_process_id) %>
</div>
