<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :budget_law_percent %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :revenue_antecipation_percent %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :authorized_debt_value %>
  </div>
</div>
