<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :article_number, :input_html => { :maxlength => "6" } %>
  </div>
</div>

<%= f.input :article_description, :input_html => { :maxlength => "512" } %>
