<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :budget_law_percent %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :revenue_antecipation_percent %>
  </div>
</div>

<%= f.input :authorized_debt_value %>
