<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#complement">Complementar</a>
    </li>

    <li>
      <a href="#dissemination-sources">Fontes de divulgação</a>
    </li>
  </ul>
  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="complement">
    <%= render 'complement', :f => f %>
  </div>

  <div id="dissemination-sources">
    <%= render 'dissemination_sources', :f => f %>
  </div>
</div>
