<div class="buttons">
  <%= f.button :submit if can?(:modify, main_controller_name) %>
  <%= f.button :back, :href => licitation_process_publications_path(:licitation_process_id => f.object.licitation_process_id) %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>
