<%= f.simple_fields_for :items, trading_item, :child_index => rand(1...1000) do |item| %> <%#PRESTAR TENÇÃO AQUI QUANDO FOR POR ITENS %>
  <div id="bids">

    <%= item.simple_fields_for :bids, item.object.bids.where(purchase_process_accreditation_creditor_id: accreditation_creditor&.id)  do |bid| %>
      <%= render 'purchase_process_trading_item_bids/form', f: bid, accreditation_creditor: accreditation_creditor%>
    <% end %>

    <div class="links">
      <%= link_to_add_association item, :bids,
                                  partial: 'purchase_process_trading_item_bids/form',
                                  render_options: {locals: {accreditation_creditor: accreditation_creditor}},
                                  class: 'button primary' do %>Adicionar<% end %>
    </div>
  </div>
<% end %>