<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#pledges">Empenhos</a>
    </li>

    <li>
      <a href="#schedules">Cronogramas de entrega</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="pledges">
    <%= render 'pledges', :f => f %>
  </div>

  <div id="schedules">
    <%= render 'delivery_schedules', :f => f %>
  </div>
</div>

<script>
  function fillSequence() {
    $('div.nested-delivery-schedule .destroy[value=false]').each(function(index, item){
      $(this).parents('.nested-delivery-schedule').find('.auto_sequence').val(index + 1);
    });
  }

  $('form.contract').on('click', '.remove_item', fillSequence);
  $('form.contract').on('nestedForm:afterAdd', fillSequence);
</script>
