<div class="tabs">
  <ul>
    <li><a href="#general">Dados gerais</a></li>
    <li><a href="#budget-allocations">Empenhos</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="budget-allocations">
    <%= render 'pledges', :f => f %>
  </div>
</div>
