<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#parcels">Parcelas</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="parcels">
    <%= render 'parcels', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    select: function() {
      $('.replicated_value').val($('#pledge_liquidation_value').val());
    }
  });

  <% if f.object.persisted? %>
    $('form.pledge_liquidation :input').attr('disabled', true);
    $('form.pledge_liquidation .add-parcel, form.pledge_liquidation .nested-remove').hide();
  <% else %>
    (function() {
      function fillParcelNumber() {
        $('div.parcel .destroy[value=false]').each(function (index, item) {
          $(this).parents('.parcel').find('.order').val(index + 1);
        });
      }

      $('#pledge_liquidation_pledge_id').change(function (event, pledge) {
        if (pledge) {
          $('#pledge_liquidation_emission_date').val(pledge.emission_date);
          $('#pledge_liquidation_description').val(pledge.description);

          $('#pledge_value').html(pledge.pledge_value_as_currency);
          $('#pledge_liquidations_sum').html(pledge.pledge_liquidations_sum_as_currency);
          $('#pledge_cancellations_sum').html(pledge.pledge_cancellations_sum);
          $('#pledge_balance').html(pledge.balance_as_currency);
        } else {
          $('#pledge_liquidation_emission_date').val('');
          $('#pledge_liquidation_description').val('');

          $('#pledge_liquidations_sum').html('');
          $('#pledge_cancellations_sum').html('');
          $('#pledge_balance').html('');
          $('#pledge_value').html('');
        }
      });

      $('form.pledge_liquidation').delegate('.remove-parcel', 'click', fillParcelNumber);
      $('form.pledge_liquidation').bind('append.mustache', fillParcelNumber);
      fillParcelNumber();
    })();
  <% end %>
</script>
