{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"793a967dacd1e19ef32bc2e67cdd5f2d\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":1,\"budget_structure_level_id\":1,\"code\":\"1\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Detran\",\"full_code\":\"1\",\"id\":1,\"kind\":\"analytical\",\"parent_id\":2,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"1 - Detran\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 20:54:27 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/3.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"01be0dff8e5741bfb63ef6c74c04491e\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUDES\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"29\",\"created_at\":\"2013-08-09T07:00:09-03:00\",\"description\":\"Secretaria de Desenvolvimento\",\"full_code\":\"29\",\"id\":3,\"kind\":\"synthetic\",\"parent_id\":null,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-09T07:00:09-03:00\",\"to_s\":\"29 - Secretaria de Desenvolvimento\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 20:54:28 GMT"}],"recorded_with":"VCR 2.5.0"}