{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_contract_id=3&includes%5B%5D=capability&includes%5B%5D%5Bbudget_allocation%5D%5Binclude%5D=expense_nature&methods%5B%5D=expense_nature_expense_nature&methods%5B%5D=function_code&methods%5B%5D=subfunction_code&methods%5B%5D=government_program_code&methods%5B%5D=government_action_code&methods%5B%5D=capability_source_code","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"bd2b5180378bb9d03c530bd90d757350\""]},"body":{"encoding":"UTF-8","string":"[{\"accounting_account_id\":null,\"amount\":\"100.0\",\"budget_allocation_id\":3,\"capability_id\":1,\"code\":8,\"contract_id\":3,\"contract_year\":\"2012\",\"created_at\":\"2013-08-08T17:54:58-03:00\",\"creditor_id\":1,\"descriptor_id\":1,\"emission_date\":\"2012-10-01\",\"expense_kind_id\":null,\"expense_nature_id\":7,\"founded_debt_contract_id\":1,\"id\":8,\"initial_value_not_processed\":\"0.0\",\"initial_value_processed\":\"0.0\",\"leftover_pledge\":false,\"licitation_process_id\":null,\"main_pledge_id\":null,\"pledge_category_id\":null,\"pledge_modality\":\"1\",\"precatory_id\":null,\"purchase_process_id\":null,\"purchase_process_year\":null,\"reserve_fund_id\":null,\"special_inscription_id\":null,\"type_of_work\":null,\"updated_at\":\"2013-08-08T17:54:58-03:00\",\"work_registration_number_inss\":null,\"year\":2012,\"expense_nature_expense_nature\":\"3.1.90.01.01\",\"function_code\":\"04\",\"subfunction_code\":\"01\",\"government_program_code\":\"0001\",\"government_action_code\":\"0001\",\"capability_source_code\":1,\"to_s\":\"8\",\"capability\":{\"capability_destination_id\":null,\"created_at\":\"2013-08-06T18:05:39-03:00\",\"description\":\"Reforma e Amplia\\u00e7\\u00e3o\",\"entity_id\":1,\"goal\":\"Otimizar o atendimento a todos\",\"id\":1,\"kind\":\"ordinary\",\"source\":null,\"status\":\"active\",\"tce_specification_capability_id\":1,\"updated_at\":\"2013-08-06T18:05:39-03:00\",\"year\":2012},\"budget_allocation\":{\"alienation_appeal\":false,\"budget_allocation_type_id\":1,\"budget_structure_id\":2,\"code\":11,\"created_at\":\"2013-08-07T14:44:23-03:00\",\"date\":\"2012-10-01\",\"debt_type\":\"contract\",\"descriptor_id\":1,\"education\":false,\"expense_nature_id\":6,\"foresight\":false,\"function_id\":1,\"government_action_id\":1,\"government_program_id\":1,\"health\":false,\"id\":3,\"kind\":\"divide\",\"months_values\":{\"1\":\"500,00\",\"2\":\"0,00\",\"3\":\"0,00\",\"4\":\"0,00\",\"5\":\"0,00\",\"6\":\"0,00\",\"7\":\"0,00\",\"8\":\"0,00\",\"9\":\"0,00\",\"10\":\"0,00\",\"11\":\"0,00\",\"12\":\"0,00\"},\"personal\":false,\"refinancing\":true,\"subfunction_id\":1,\"updated_at\":\"2013-08-07T14:44:23-03:00\",\"value\":null,\"year\":2012,\"expense_nature\":{\"created_at\":\"2013-08-07T14:18:22-03:00\",\"description\":\"Aposentadorias do RPPS, Reserva Remunerada e Reformas dos Militares\",\"docket\":\"Registra o valor das despesas com aposentadorias, reserva e reformas\",\"expense_nature\":\"3.1.90.01.00\",\"id\":6,\"kind\":\"synthetic\",\"parent_id\":3,\"regulatory_act_id\":1,\"updated_at\":\"2013-08-07T14:18:22-03:00\",\"year\":2012}}}]"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 20:54:30 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"793a967dacd1e19ef32bc2e67cdd5f2d\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":1,\"budget_structure_level_id\":1,\"code\":\"1\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Detran\",\"full_code\":\"1\",\"id\":1,\"kind\":\"analytical\",\"parent_id\":2,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"1 - Detran\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 20:54:32 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/3.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"01be0dff8e5741bfb63ef6c74c04491e\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUDES\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"29\",\"created_at\":\"2013-08-09T07:00:09-03:00\",\"description\":\"Secretaria de Desenvolvimento\",\"full_code\":\"29\",\"id\":3,\"kind\":\"synthetic\",\"parent_id\":null,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-09T07:00:09-03:00\",\"to_s\":\"29 - Secretaria de Desenvolvimento\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 20:54:32 GMT"}],"recorded_with":"VCR 2.5.0"}