<%= f.input :supply_request_id, as: :hidden %>
<%= f.input :material_id, as: :hidden, input_html: { value: material_id } %>

<div class="yui3-g">
  <div class="yui3-u-7-8">
    <%= f.input :material, as: :string, disabled: true, input_html: { value: material } %>
  </div>

  <div class="yui3-u-1-8">
    <%= f.input :reference_unit, disabled: true, input_html: { value: reference_unit } %>
  </div>
</div>
