<div class="supply_request_item">

  <div class="yui3-g">
    <div class="yui3-u-1-8">
      <%= f.input :value, disabled: true,
        input_html: { value: unit_price, 'data-decimal' => true, class: :decimal  } %>
    </div>

    <div class="yui3-u-1-6">
      <%= f.input :authorized_value, disabled: true,
        input_html: { value: authorized_value, 'data-decimal' => true, class: :decimal  }  %>
    </div>

    <div class="yui3-u-1-6">
      <%= f.input :value_balance, disabled: true,
        input_html: { value: value_balance, 'data-decimal' => true, class: :decimal }  %>
    </div>

    <div class="yui3-u-1-6">
      <%= f.input :authorization_value, input_html: { value: number_with_precision(f.object.authorization_value) } %>
    </div>
  </div>
</div>
