commands:
  001_alocate_swap:
    command: dd if=/dev/zero of=/swapfile bs=1M count=4096
    test: '[ ! -e /swapfile ]'
  002_set_permissions:
    command: chmod 0600 /swapfile
  003_create_swap:
    command: mkswap /swapfile
    ignoreErrors: true
  004_turn_on_swap:
    command: swapon /swapfile
    ignoreErrors: true
  005_mount_swap_on_reboot:
    command: echo "/swapfile       swap    swap    auto      0       0" | tee -a /etc/fstab
    test: '[ ! -e /var/.swap_ok ]'
  099_restric_run:
    command: touch /var/.swap_ok
    test: '[ ! -e /var/.swap_ok ]'