files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/12_db_migration.sh":
    mode: "000755"
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)

      RAKE_TASK="db:migrate"

      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR

      if [ "$RAILS_SKIP_MIGRATIONS" = "true" ]; then
          echo "Skipping database migrations (RAILS_SKIP_MIGRATIONS=true)."
      else
          leader_only bundle exec rake db:migrate
      fi