# Install git in order to be able to bundle gems from git
packages:
  yum:
    update: []
  yum:
    postgresql96-devel: []
    git: []
    patch: []
    ImageMagick: [] 
    ImageMagick-devel: []
    gcc: []
    newrelic-sysmond: []
  rpm:
    newrelic: http://download.newrelic.com/pub/newrelic/el5/i386/newrelic-repo-5-3.noarch.rpm

commands: 
  "01":
    command: nrsysmond-config --set license_key=348709d90c25d458f0d62caf963e5122adfa7d80
  "02":
    command: /etc/init.d/newrelic-sysmond start