files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq":
    mode: "000777"
    content: |
      cd /var/app/current

      if [ -f /var/app/support/pids/sidekiq.pid ]
      then
        kill -TERM `cat /var/app/support/pids/sidekiq.pid`
        rm -rf /var/app/support/pids/sidekiq.pid
      fi

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)

      . /opt/elasticbeanstalk/support/envvars

      . $EB_SCRIPT_DIR/use-app-ruby.sh

      sleep 10

      bundle install

      bundle exec sidekiq -e $RAILS_ENV -P /var/app/support/pids/sidekiq.pid  -L /var/app/support/logs/sidekiq.log -d

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq":
    mode: "000777"
    content: |
      if [ -f /var/app/support/pids/sidekiq.pid ]
      then
        cat /var/app/support/pids/sidekiq.pid
        kill -USR1 `cat /var/app/support/pids/sidekiq.pid`
        exit 0
      fi