files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq":
    mode: "000777"
    content: |
      cd /var/app/current
      
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      
      . /opt/elasticbeanstalk/support/envvars
      
      . $EB_SCRIPT_DIR/use-app-ruby.sh
      
      for I in `seq 1 ${SIDEKIQ_WORKERS}`
      do
              if [ -f /var/app/support/pids/sidekiq-${I}.pid ]
              then
                      kill -TERM `cat /var/app/support/pids/sidekiq-${I}.pid`
                      rm -rf /var/app/support/pids/sidekiq-${I}.pid
              fi
      done
      
      sleep 10
      
      bundle install
      
      for I in `seq 1 ${SIDEKIQ_WORKERS}`
      do
              bundle exec sidekiq -e $RAILS_ENV -P /var/app/support/pids/sidekiq-${I}.pid  -L /var/app/support/logs/sidekiq.log -d
      done

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq":
    mode: "000777"
    content: |
      . /opt/elasticbeanstalk/support/envvars
      for I in `seq 1 ${SIDEKIQ_WORKERS}`
      do
          if [ -f /var/app/support/pids/sidekiq-${I}.pid ]
          then
              kill -USR1 `cat /var/app/support/pids/sidekiq-${I}.pid`
          fi
      done
