<div class='yui3-g'>
  <div class='yui3-u-2-3'>
    <%= f.input :employee, :disabled => !f.object.new_record?%>
  </div>

  <div class='yui3-u-1-3'>
    <%= f.input :date, :disabled => !f.object.new_record? %>
  </div>
</div>

<%= f.input :description, :disabled => !f.object.new_record? %>
