<div class="buttons">
  <%= link_to('Relatório', accreditation_path,
      :class => "button primary", 'data-disabled' => f.object.decorator.must_have_creditors) %>

  <%= f.button :submit if can?(:modify, main_controller_name) %>
  <%= f.button :back, :href => edit_licitation_process_path(@parent) %>
</div>
