<table class="records">
  <thead>
    <tr>
      <th>Processo de Compra</th>
      <th>Reserva da Dotação</th>
    </tr>
  </thead>

  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td><%= resource.to_s %></td>
        <td>
          <%#= link_to "#{reserve_fund_action(resource)} Reserva de Dotação", edit_reserve_fund_request_path(resource.id) %>
          <%= link_to "Reserva de Dotação", edit_reserve_fund_request_path(resource.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
