<div class="d-flex justify-content-center">
  <h5>ACOMPANHE TODOS OS LANCES</h5>
</div>

<table id="items" class="records">
  <thead>
  <th>Item/Grupo</th>
  <th>Lance</th>
  </thead>

  <tbody>
  <tr>
    <td>TESTE</td>
    <td>TESTE</td>
  </tr>
  </tbody>
</table>
