<table id="items" class="records">
  <thead>
  <th>Descrição</th>
  <th>Sua Proposta</th>
  <th>Melhor Proposta</th>
  </thead>

  <tbody>
  <% @auction.trading_items.status_closed.each do |trading_item| %>
    <tr>
      <td><%= trading_item.to_s %></td>
      <td><%= number_to_currency trading_item.bid_or_proposal_creditor(@current_user.authenticable) %></td>
      <td><%= trading_item.decorator.lowest_bid_or_proposal_amount %></td>
    </tr>
  <% end.empty? and begin %>
    <tr><td class="text-sm-center" colspan="7">Você não tem nenhum item proposta cadastrada para esse pregão.</td></tr>
  <% end %>
  </tbody>
</table>

<style>
  h2#title{
    display: none;
  }

  div#title h5{
    font-size: 15px;
    color: #4c7baa;
  }
</style>
