<table id="items" class="records">
  <thead>
  <th>Status</th>
  <th>Descrição</th>
  <th>Seu Último Lançe</th>
  <th>Melhor Lance</th>
  <th>Dê um lance:</th>
  <th width="4%"></th>
  <th width="5%"></th>
  </thead>

  <tbody>
  <% @auction.dispute_items.opened.each do |dispute_item| %>
    <%= render 'creditor_bids_row', dispute_item: dispute_item, f: f %>
  <% end.empty? and begin %>
    <tr><td class="text-sm-center" colspan="7">Nenhum item foi liberado para lançes ainda</td></tr>
  <% end %>
  </tbody>
</table>

<style>
  h2#title{
    display: none;
  }

  div#title h5{
    font-size: 15px;
    color: #4c7baa;
  }
</style>