<table id="items" class="records">
  <thead>
  <th>Status</th>
  <th>Descrição</th>
  <th>Seu Último Lançe</th>
  <th>Melhor Lance</th>
  <th>Dê um lance:</th>
  <th width="4%"></th>
  <th width="5%"></th>
  </thead>

  <tbody>
  <% @auction.dispute_items.includes(:bids).each_with_index do |dispute_item, index| %>
    <%= render 'creditor_bids_row', dispute_item: dispute_item, index: index, f: f %>
  <% end %>
  </tbody>
</table>

<style>
  h2#title{
    display: none;
  }

  div#title h5{
    font-size: 15px;
    color: #4c7baa;
  }
</style>