<%= render 'lots', f: f %>

<div class="row">
  <div class="col">
    <%= render 'chat' %>
  </div>
  <div class="col">
    <%= render 'all_bids' %>
  </div>
</div>


<style>
  h2#title{
    display: none;
  }

  div#title h5{
    font-size: 15px;
    color: #4c7baa;
  }
</style>