<table id="items" class="records">
  <thead>
  <th>Status</th>
  <th>Descrição</th>
  <th>Proposta</th>
  <th>Melhor Proposta</th>
  <th>Melhor Lance</th>
  <th width="11%">Horário</th>
  <th width="11%">Dê um lance:</th>
  <th width="11%">Horário:</th>
  <th width="4%"></th>
  <th width="5%"></th>
  </thead>

  <tbody>
  <% @auction.dispute_items.each_with_index do |item, index| %>
    <%= render 'creditor_bids_row', item: item, index: index %>
  <% end %>
  </tbody>
</table>

<style>
  h2#title{
    display: none;
  }

  div#title h5{
    font-size: 15px;
    color: #4c7baa;
  }
</style>