<div class="d-flex justify-content-center">
  <h5>CHAT DE CONVERSA</h5>
</div>

<div class="card">
  <div class="card-header">
    Mensagens Recebidas
  </div>
  <div class="card-body">
    <%= render 'auction/messages/chat_box' %>
  </div>
</div>