<fieldset>
  <%= f.input :name %>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :code %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :acronym, :input_html => { :size => 5 } %>
    </div>
  </div>
</fieldset>
