{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_contract_id=1&includes%5B%5D=capability&includes%5B%5D%5Bbudget_allocation%5D%5Binclude%5D=expense_nature&methods%5B%5D=expense_nature_expense_nature&methods%5B%5D=function_code&methods%5B%5D=subfunction_code&methods%5B%5D=government_program_code&methods%5B%5D=government_action_code&methods%5B%5D=capability_source_code","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:29:22 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=1","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"11414410e4038f0c31afd030f64feb57\""]},"body":{"encoding":"UTF-8","string":"[{\"accounting_account_id\":null,\"amount\":\"100.0\",\"budget_allocation_id\":3,\"capability_id\":1,\"code\":8,\"contract_id\":3,\"contract_year\":\"2012\",\"created_at\":\"2013-08-08T17:54:58-03:00\",\"creditor_id\":1,\"descriptor_id\":1,\"emission_date\":\"2012-10-01\",\"expense_kind_id\":null,\"expense_nature_id\":7,\"founded_debt_contract_id\":1,\"id\":8,\"initial_value_not_processed\":\"0.0\",\"initial_value_processed\":\"0.0\",\"leftover_pledge\":false,\"licitation_process_id\":null,\"main_pledge_id\":null,\"pledge_category_id\":null,\"pledge_modality\":\"1\",\"precatory_id\":null,\"purchase_process_id\":null,\"purchase_process_year\":null,\"reserve_fund_id\":null,\"special_inscription_id\":null,\"type_of_work\":null,\"updated_at\":\"2013-08-08T17:54:58-03:00\",\"work_registration_number_inss\":null,\"year\":2012,\"to_s\":\"8\"}]"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:29:22 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"793a967dacd1e19ef32bc2e67cdd5f2d\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":1,\"budget_structure_level_id\":1,\"code\":\"1\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Detran\",\"full_code\":\"1\",\"id\":1,\"kind\":\"analytical\",\"parent_id\":2,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"1 - Detran\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:29:28 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=3","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:29:29 GMT"}],"recorded_with":"VCR 2.5.0"}