{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"793a967dacd1e19ef32bc2e67cdd5f2d\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":1,\"budget_structure_level_id\":1,\"code\":\"1\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Detran\",\"full_code\":\"1\",\"id\":1,\"kind\":\"analytical\",\"parent_id\":2,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"1 - Detran\"}"},"http_version":"1.1"},"recorded_at":"Wed, 28 Aug 2013 10:43:03 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_contract_id=4","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"715638f6447b7da7f109fcef49147bcf\""]},"body":{"encoding":"UTF-8","string":"[{\"id\":9,\"items\":[{\"id\":8,\"material_id\":2,\"description\":null,\"quantity\":100,\"unit_price\":\"1.0\",\"estimated_total_price\":\"100.0\"}],\"expense_nature_expense_nature\":\"3.1.90.01.00\",\"function_code\":\"04\",\"subfunction_code\":\"01\",\"government_program_code\":\"0001\",\"government_action_code\":\"0001\",\"capability_source_code\":1,\"creditor_id\":1,\"year\":2012,\"emission_date\":\"2012-10-01\",\"budget_allocation_id\":4,\"contract_id\":4,\"purchase_process_id\":2,\"capability_id\":1,\"expense_nature_id\":6,\"amount\":\"100.0\",\"to_s\":\"9\",\"items_total_value\":\"100.0\",\"balance\":\"100.0\",\"code\":9}]"},"http_version":"1.1"},"recorded_at":"Wed, 28 Aug 2013 10:43:03 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=4","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":"1.1"},"recorded_at":"Wed, 28 Aug 2013 10:43:03 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=5","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":"1.1"},"recorded_at":"Wed, 28 Aug 2013 10:43:07 GMT"}],"recorded_with":"VCR 2.5.0"}