{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations/1.json?includes%5B%5D=expense_nature&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Binclude%5D%5Bbudget_structure%5D%5Bmethods%5D%5B%5D=structure_sequence&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bmethods%5D%5B%5D=expense_nature_expense_nature&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bmethods%5D%5B%5D=function_code&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bmethods%5D%5B%5D=subfunction_code&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bmethods%5D%5B%5D=government_program_code&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bmethods%5D%5B%5D=government_action_code&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bmethods%5D%5B%5D=government_action_action_type&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bmethods%5D%5B%5D=amount&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bcapability%5D%5Bmethods%5D%5B%5D=capability_source_code&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bcapability%5D%5Bonly%5D=id&includes%5B%5D%5Bbudget_structure%5D%5Bexcept%5D=custom_data&methods%5B%5D=balance&methods%5B%5D=amount&methods%5B%5D=budget_structure_structure_sequence","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"3b7f82585e60e139794ed80a44663af7\""]},"body":{"encoding":"UTF-8","string":"{\"alienation_appeal\":false,\"budget_allocation_type_id\":1,\"budget_structure_id\":2,\"code\":1,\"created_at\":\"2013-08-06T18:05:40-03:00\",\"date\":\"2012-10-01\",\"debt_type\":\"contract\",\"descriptor_id\":1,\"education\":false,\"expense_nature_id\":3,\"foresight\":false,\"function_id\":1,\"government_action_id\":1,\"government_program_id\":1,\"health\":false,\"id\":1,\"kind\":\"divide\",\"months_values\":{\"1\":\"500,00\",\"2\":\"0,00\",\"3\":\"0,00\",\"4\":\"0,00\",\"5\":\"0,00\",\"6\":\"0,00\",\"7\":\"0,00\",\"8\":\"0,00\",\"9\":\"0,00\",\"10\":\"0,00\",\"11\":\"0,00\",\"12\":\"0,00\"},\"personal\":false,\"refinancing\":true,\"subfunction_id\":1,\"updated_at\":\"2013-08-06T18:05:40-03:00\",\"value\":null,\"year\":2012,\"balance\":\"989.5\",\"amount\":\"1000.0\",\"budget_structure_structure_sequence\":[{\"acronym\":\"SEMUDES\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"29\",\"created_at\":\"2013-08-09T07:00:09-03:00\",\"description\":\"Secretaria de Desenvolvimento\",\"full_code\":\"29\",\"id\":3,\"kind\":\"synthetic\",\"parent_id\":null,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-09T07:00:09-03:00\",\"to_s\":\"29 - Secretaria de Desenvolvimento\"},{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"9\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Secretaria de Educa\\u00e7\\u00e3o\",\"full_code\":\"9\",\"id\":2,\"kind\":\"analytical\",\"parent_id\":3,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"9 - Secretaria de Educa\\u00e7\\u00e3o\"}],\"to_s\":\"1 - 3.1.90.00.00 - Aplica\\u00e7\\u00f5es Diretas\",\"expense_nature\":{\"created_at\":\"2013-08-06T18:05:39-03:00\",\"description\":\"Aplica\\u00e7\\u00f5es Diretas\",\"docket\":\"Registra o valor das aplica\\u00e7\\u00f5es diretas\",\"expense_nature\":\"3.1.90.00.00\",\"id\":3,\"kind\":\"both\",\"parent_id\":2,\"regulatory_act_id\":2,\"updated_at\":\"2013-08-06T18:05:39-03:00\",\"year\":2012},\"budget_allocation_capabilities\":[{\"amount\":\"1000.0\",\"budget_allocation_id\":1,\"capability_id\":1,\"created_at\":\"2013-08-09T06:51:27-03:00\",\"id\":3,\"updated_at\":\"2013-08-09T06:51:27-03:00\",\"budget_allocation\":{\"alienation_appeal\":false,\"budget_allocation_type_id\":1,\"budget_structure_id\":2,\"code\":1,\"created_at\":\"2013-08-06T18:05:40-03:00\",\"date\":\"2012-10-01\",\"debt_type\":\"contract\",\"descriptor_id\":1,\"education\":false,\"expense_nature_id\":3,\"foresight\":false,\"function_id\":1,\"government_action_id\":1,\"government_program_id\":1,\"health\":false,\"id\":1,\"kind\":\"divide\",\"months_values\":{\"1\":\"500,00\",\"2\":\"0,00\",\"3\":\"0,00\",\"4\":\"0,00\",\"5\":\"0,00\",\"6\":\"0,00\",\"7\":\"0,00\",\"8\":\"0,00\",\"9\":\"0,00\",\"10\":\"0,00\",\"11\":\"0,00\",\"12\":\"0,00\"},\"personal\":false,\"refinancing\":true,\"subfunction_id\":1,\"updated_at\":\"2013-08-06T18:05:40-03:00\",\"value\":null,\"year\":2012,\"expense_nature_expense_nature\":\"3.1.90.00.00\",\"function_code\":\"04\",\"subfunction_code\":\"01\",\"government_program_code\":\"0001\",\"government_action_code\":\"0001\",\"government_action_action_type\":2,\"amount\":\"1000.0\",\"budget_structure\":{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"9\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"custom_data\":{},\"description\":\"Secretaria de Educa\\u00e7\\u00e3o\",\"full_code\":\"9\",\"id\":2,\"kind\":\"analytical\",\"parent_id\":3,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"structure_sequence\":[{\"acronym\":\"SEMUDES\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"29\",\"created_at\":\"2013-08-09T07:00:09-03:00\",\"description\":\"Secretaria de Desenvolvimento\",\"full_code\":\"29\",\"id\":3,\"kind\":\"synthetic\",\"parent_id\":null,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-09T07:00:09-03:00\",\"to_s\":\"29 - Secretaria de Desenvolvimento\"},{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"9\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Secretaria de Educa\\u00e7\\u00e3o\",\"full_code\":\"9\",\"id\":2,\"kind\":\"analytical\",\"parent_id\":3,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"9 - Secretaria de Educa\\u00e7\\u00e3o\"}]}},\"capability\":{\"id\":1,\"capability_source_code\":1}}]}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:32:36 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/expense_natures/3.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"43b88f1b242cd9805b2f0617b722c966\""]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-06T18:05:39-03:00\",\"description\":\"Aplica\\u00e7\\u00f5es Diretas\",\"docket\":\"Registra o valor das aplica\\u00e7\\u00f5es diretas\",\"expense_nature\":\"3.1.90.00.00\",\"id\":3,\"kind\":\"both\",\"parent_id\":2,\"regulatory_act_id\":2,\"updated_at\":\"2013-08-06T18:05:39-03:00\",\"year\":2012,\"to_s\":\"3.1.90.00.00 - Aplica\\u00e7\\u00f5es Diretas\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:32:37 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"793a967dacd1e19ef32bc2e67cdd5f2d\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":1,\"budget_structure_level_id\":1,\"code\":\"1\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Detran\",\"full_code\":\"1\",\"id\":1,\"kind\":\"analytical\",\"parent_id\":2,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"1 - Detran\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:32:42 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"793a967dacd1e19ef32bc2e67cdd5f2d\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":1,\"budget_structure_level_id\":1,\"code\":\"1\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Detran\",\"full_code\":\"1\",\"id\":1,\"kind\":\"analytical\",\"parent_id\":2,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"1 - Detran\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:32:47 GMT"}],"recorded_with":"VCR 2.5.0"}