{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/expense_natures.json?action=index&by_parent_id=3&by_year=2012&controller=expense_natures&limit=10&term=3.1.90.01.00","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"991494d99afe218ee0e0cb63bd81a6eb\""]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2013-08-07T14:18:22-03:00\",\"description\":\"Aposentadorias do RPPS, Reserva Remunerada e Reformas dos Militares\",\"docket\":\"Registra o valor das despesas com aposentadorias, reserva e reformas\",\"expense_nature\":\"3.1.90.01.00\",\"id\":6,\"kind\":\"synthetic\",\"parent_id\":3,\"regulatory_act_id\":1,\"updated_at\":\"2013-08-07T14:18:22-03:00\",\"year\":2012,\"to_s\":\"3.1.90.01.00 - Aposentadorias do RPPS, Reserva Remunerada e Reformas dos Militares\"}]"},"http_version":"1.1"},"recorded_at":"Wed, 10 Oct 2012 03:00:06 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations.json?action=index&by_year=2012&controller=budget_allocations&includes=expense_nature&limit=10&methods=balance&term=Aposentadorias+do+RPPS","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"6aa1d3c0ca0dec8ee40df843d209b8de\""]},"body":{"encoding":"UTF-8","string":"[{\"alienation_appeal\":false,\"budget_allocation_type_id\":1,\"budget_structure_id\":2,\"code\":11,\"created_at\":\"2013-08-07T14:44:23-03:00\",\"date\":\"2012-10-01\",\"debt_type\":\"contract\",\"descriptor_id\":1,\"education\":false,\"expense_nature_id\":6,\"foresight\":false,\"function_id\":1,\"government_action_id\":1,\"government_program_id\":1,\"health\":false,\"id\":3,\"kind\":\"divide\",\"months_values\":{\"1\":\"500,00\",\"2\":\"0,00\",\"3\":\"0,00\",\"4\":\"0,00\",\"5\":\"0,00\",\"6\":\"0,00\",\"7\":\"0,00\",\"8\":\"0,00\",\"9\":\"0,00\",\"10\":\"0,00\",\"11\":\"0,00\",\"12\":\"0,00\"},\"personal\":false,\"refinancing\":true,\"subfunction_id\":1,\"updated_at\":\"2013-08-07T14:44:23-03:00\",\"value\":null,\"year\":2012,\"balance\":\"0.0\",\"to_s\":\"11 - 3.1.90.01.00 - Aposentadorias do RPPS, Reserva Remunerada e Reformas dos Militares\",\"expense_nature\":{\"created_at\":\"2013-08-07T14:18:22-03:00\",\"description\":\"Aposentadorias do RPPS, Reserva Remunerada e Reformas dos Militares\",\"docket\":\"Registra o valor das despesas com aposentadorias, reserva e reformas\",\"expense_nature\":\"3.1.90.01.00\",\"id\":6,\"kind\":\"synthetic\",\"parent_id\":3,\"regulatory_act_id\":1,\"updated_at\":\"2013-08-07T14:18:22-03:00\",\"year\":2012}}]"},"http_version":"1.1"},"recorded_at":"Wed, 10 Oct 2012 03:00:14 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/2.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"8dfe72b532581284db285672e7cdcf7f\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"9\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Secretaria de Educa\\u00e7\\u00e3o\",\"full_code\":\"9\",\"id\":2,\"kind\":\"analytical\",\"parent_id\":3,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"9 - Secretaria de Educa\\u00e7\\u00e3o\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:37:13 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations/1.json?includes=expense_nature&methods=balance","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"f9074e5c55b6a042ae480d961479aa89\""]},"body":{"encoding":"UTF-8","string":"{\"alienation_appeal\":false,\"budget_allocation_type_id\":1,\"budget_struct[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/expense_natures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"96175f2142e903582d144b4dcb92b997\""]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-06T18:05:39-03:00\",\"description\":\"Despesas Correntes\",\"docket\":\"Registra o valor das despesas\",\"expense_nature\":\"3.0.00.00.00\",\"id\":1,\"kind\":\"synthetic\",\"parent_id\":null,\"regulatory_act_id\":1,\"updated_at\":\"2013-08-06T18:05:39-03:00\",\"year\":2012,\"to_s\":\"3.0.00.00.00 - Despesas Correntes\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:37:34 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations/1.json?includes%5B%5D=expense_nature&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Binclude%5D%5Bbudget_structure%5D%5Bmethods%5D%5B%5D=structure_sequence&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bmethods%5D%5B%5D=expense_nature_expense_nature&includes%5B%5D%5Bbudget_allocation_capabilities%5D%5Binclude%5D%5Bbudget_allocation%5D%5Bm[...]
[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures.json?action=index&by_year=2012&controller=budget_structures&limit=10&term=Secretaria+de+Educa%C3%A7%C3%A3o","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"753f15f7bd4ee23ae6baf5a2ac37e478\""]},"body":{"encoding":"UTF-8","string":"[{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"9\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Secretaria de Educa\\u00e7\\u00e3o\",\"full_code\":\"9\",\"id\":2,\"kind\":\"analytical\",\"parent_id\":3,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"9 - Secretaria de Educa\\u00e7\\u00e3o\"}]"},"http_version":"1.1"},"recorded_at":"Wed, 10 Oct 2012 03:00:03 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/expense_natures.json?action=index&by_parent_id=6&by_year=2012&controller=expense_natures&limit=10&term=3.1","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"f4f0a364f18668b0c394c3ad0882aff4\""]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2013-08-07T14:19:17-03:00\",\"description\":\"Aposentadorias Custeadas com Recursos do RPPS\",\"docket\":\"Registra o valor das despesas com aposentadorias\",\"expense_nature\":\"3.1.90.01.01\",\"id\":7,\"kind\":\"analytical\",\"parent_id\":6,\"regulatory_act_id\":1,\"updated_at\":\"2013-08-07T14:19:17-03:00\",\"year\":2012,\"to_s\":\"3.1.90.01.01 - Aposentadorias Custeadas com Recursos do RPPS\"}]"},"http_version":"1.1"},"recorded_at":"Wed, 10 Oct 2012 03:00:05 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations.json?action=index&controller=budget_allocations&includes=expense_nature&limit=10&methods=balance&term=Aplica%C3%A7%C3%B5es","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d24ec2212aaf9b50f5fa49db0801dd54\""]},"body":{"encoding":"UTF-8","string":"[...]
[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations.json?action=index&controller=budget_allocations&includes=expense_nature&limit=10&methods=balance&term=Aposentadorias","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"6aa1d3c0ca0dec8ee40df843d209b8de\""]},"body":{"encoding":"UTF-8","string":"[{\"al[...]
[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations.json?action=index&controller=budget_allocations&includes=expense_nature&limit=10&methods=balance&term=Aplica%C3%A7%C3%B5es+Diretas","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d24ec2212aaf9b50f5fa49db0801dd54\""]},"body":{"encoding":"UTF-8","s[...]
[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations.json?action=index&controller=budget_allocations&includes=expense_nature&limit=10&methods=balance&term=Ap","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"9f4c26a73c8773046f835de831187c11\""]},"body":{"encoding":"UTF-8","string":"[{\"alienation_app[...]
[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/expense_natures/6.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"6f972bbb69c5ba180cdac06b8995b47f\""]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-07T14:18:22-03:00\",\"description\":\"Aposentadorias do RPPS, Reserva Remunerada e Reformas dos Militares\",\"docket\":\"Registra o valor das despesas com aposentadorias, reserva e reformas\",\"expense_nature\":\"3.1.90.01.00\",\"id\":6,\"kind\":\"synthetic\",\"parent_id\":3,\"regulatory_act_id\":1,\"updated_at\":\"2013-08-07T14:18:22-03:00\",\"year\":2012,\"to_s\":\"3.1.90.01.00 - Aposentadorias do RPPS, Reserva Remunerada e Reformas dos Militares\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:38:38 GMT"}],"recorded_with":"VCR 2.5.0"}