{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"793a967dacd1e19ef32bc2e67cdd5f2d\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":1,\"budget_structure_level_id\":1,\"code\":\"1\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Detran\",\"full_code\":\"1\",\"id\":1,\"kind\":\"analytical\",\"parent_id\":2,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"1 - Detran\"}"},"http_version":"1.1"},"recorded_at":"Wed, 28 Aug 2013 10:48:06 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_contract_id=12","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":"1.1"},"recorded_at":"Wed, 28 Aug 2013 10:48:06 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=12","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":"1.1"},"recorded_at":"Wed, 28 Aug 2013 10:48:06 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=12","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":"1.1"},"recorded_at":"Wed, 28 Aug 2013 10:48:06 GMT"}],"recorded_with":"VCR 2.5.0"}