---
http_interactions:
- request:
    method: get
    uri: http://contabil.dev/api/budget_structures/1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-unico-api-customer-secret-token:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"793a967dacd1e19ef32bc2e67cdd5f2d"'
    body:
      encoding: UTF-8
      string: '{"acronym":"SEMUEDU","administration_type_id":1,"budget_structure_configuration_id":1,"budget_structure_level_id":1,"code":"1","created_at":"2013-08-06T18:05:38-03:00","description":"Detran","full_code":"1","id":1,"kind":"analytical","parent_id":2,"performance_field":"Desenvolvimento
        Educacional","tce_code":"051","updated_at":"2013-08-06T18:05:38-03:00","to_s":"1
        - Detran"}'
  recorded_at: Mon, 12 Aug 2013 11:32:48 GMT
- request:
    method: get
    uri: http://contabil.dev/api/pledges.json?by_contract_id=13&includes%5B%5D=capability&includes%5B%5D%5Bbudget_allocation%5D%5Binclude%5D=expense_nature&methods%5B%5D=expense_nature_expense_nature&methods%5B%5D=function_code&methods%5B%5D=subfunction_code&methods%5B%5D=government_program_code&methods%5B%5D=government_action_code&methods%5B%5D=capability_source_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-unico-api-customer-secret-token:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 12 Aug 2013 11:32:48 GMT
- request:
    method: get
    uri: http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-unico-api-customer-secret-token:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 12 Aug 2013 11:32:48 GMT
[...]
- request:
    method: get
    uri: http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-unico-api-customer-secret-token:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 12 Aug 2013 11:32:48 GMT
recorded_with: VCR 2.5.0
