---
http_interactions:
- request:
    method: get
    uri: http://contabil.dev/api/budget_structures/1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-unico-api-customer-secret-token:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8412141a24f5d33e522a8221802bc001"'
    body:
      encoding: UTF-8
      string: '{"acronym":"SEMUEDU","administration_type_id":1,"budget_structure_configuration_id":1,"budget_structure_level_id":1,"code":"1","created_at":"2013-08-01T18:53:23-03:00","description":"Detran","full_code":"1","id":1,"kind":"analytical","parent_id":null,"performance_field":"Desenvolvimento
        Educacional","tce_code":"051","updated_at":"2013-08-01T18:53:23-03:00","to_s":"1
        - Detran"}'
  recorded_at: Mon, 05 Aug 2013 11:37:56 GMT
- request:
    method: get
    uri: http://contabil.dev/api/pledges.json?by_contract_id=1&includes%5B%5D=capability&includes%5B%5D%5Bbudget_allocation%5D%5Binclude%5D=expense_nature
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-unico-api-customer-secret-token:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 05 Aug 2013 11:37:56 GMT
- request:
    method: get
    uri: http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-unico-api-customer-secret-token:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 05 Aug 2013 11:37:56 GMT
[...]
- request:
    method: get
    uri: http://contabil.dev/api/pledges.json?by_founded_debt_contract_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-unico-api-customer-secret-token:
      - '1234'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 05 Aug 2013 11:37:56 GMT
recorded_with: VCR 2.5.0
