{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/expense_natures/1.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"96175f2142e903582d144b4dcb92b997\""]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-06T18:05:39-03:00\",\"description\":\"Despesas Correntes\",\"docket\":\"Registra o valor das despesas\",\"expense_nature\":\"3.0.00.00.00\",\"id\":1,\"kind\":\"synthetic\",\"parent_id\":null,\"regulatory_act_id\":1,\"updated_at\":\"2013-08-06T18:05:39-03:00\",\"year\":2012,\"to_s\":\"3.0.00.00.00 - Despesas Correntes\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:41:36 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/budget_structures/2.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"8dfe72b532581284db285672e7cdcf7f\""]},"body":{"encoding":"UTF-8","string":"{\"acronym\":\"SEMUEDU\",\"administration_type_id\":1,\"budget_structure_configuration_id\":2,\"budget_structure_level_id\":1,\"code\":\"9\",\"created_at\":\"2013-08-06T18:05:38-03:00\",\"description\":\"Secretaria de Educa\\u00e7\\u00e3o\",\"full_code\":\"9\",\"id\":2,\"kind\":\"analytical\",\"parent_id\":3,\"performance_field\":\"Desenvolvimento Educacional\",\"tce_code\":\"051\",\"updated_at\":\"2013-08-06T18:05:38-03:00\",\"to_s\":\"9 - Secretaria de Educa\\u00e7\\u00e3o\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:41:38 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/budget_allocations/1.json?includes=expense_nature&methods=balance","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"f9074e5c55b6a042ae480d961479aa89\""]},"body":{"encoding":"UTF-8","string":"{\"alienation_appeal\":false,\"budget_allocation_type_id\":1,\"budget_structure_id\":2,\"code\":1,\"created_at\":\"2013-08-06T18:05:40-03:00\",\"date\":\"2012-10-01\",\"debt_type\":\"contract\",\"descriptor_id\":1,\"education\":false,\"expense_nature_id\":3,\"foresight\":false,\"function_id\":1,\"government_action_id\":1,\"government_program_id\":1,\"health\":false,\"id\":1,\"kind\":\"divide\",\"months_values\":{\"1\":\"500,00\",\"2\":\"0,00\",\"3\":\"0,00\",\"4\":\"0,00\",\"5\":\"0,00\",\"6\":\"0,00\",\"7\":\"0,00\",\"8\":\"0,00\",\"9\":\"0,00\",\"10\":\"0,00\",\"11\":\"0,00\",\"12\":\"0,00\"},\"personal\":false,\"refinancing\":true,\"subfunction_id\":1,\"updated_at\":\"2013-08-06T18:05:40-03:00\",\"value\":null,\"year\":2012,\"balance\":\"989.5\",\"to_s\":\"1 - 3.1.90.00.00 - Aplica\\u00e7\\u00f5es Diretas\",\"expense_nature\":{\"created_at\":\"2013-08-06T18:05:39-03:00\",\"description\":\"Aplica\\u00e7\\u00f5es Diretas\",\"docket\":\"Registra o valor das aplica\\u00e7\\u00f5es diretas\",\"expense_nature\":\"3.1.90.00.00\",\"id\":3,\"kind\":\"both\",\"parent_id\":2,\"regulatory_act_id\":2,\"updated_at\":\"2013-08-06T18:05:39-03:00\",\"year\":2012}}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:42:57 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/expense_natures/3.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"43b88f1b242cd9805b2f0617b722c966\""]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-06T18:05:39-03:00\",\"description\":\"Aplica\\u00e7\\u00f5es Diretas\",\"docket\":\"Registra o valor das aplica\\u00e7\\u00f5es diretas\",\"expense_nature\":\"3.1.90.00.00\",\"id\":3,\"kind\":\"both\",\"parent_id\":2,\"regulatory_act_id\":2,\"updated_at\":\"2013-08-06T18:05:39-03:00\",\"year\":2012,\"to_s\":\"3.1.90.00.00 - Aplica\\u00e7\\u00f5es Diretas\"}"},"http_version":"1.1"},"recorded_at":"Wed, 14 Aug 2013 21:42:57 GMT"}],"recorded_with":"VCR 2.5.0"}