{"http_interactions":[{"request":{"method":"get","uri":"http://contabil.dev/api/pledges.json?action=index&by_purchase_process_id=1&controller=pledges&limit=10&term=10","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"dee6fa66c5089eda70a04eda22914762\""]},"body":{"encoding":"UTF-8","string":"[{\"id\":10,\"items\":[{\"id\":9,\"material_id\":1,\"description\":null,\"quantity\":10000,\"unit_price\":\"10.0\",\"estimated_total_price\":\"100000.0\"}],\"expense_nature_expense_nature\":\"3.1.90.00.00\",\"function_code\":\"04\",\"subfunction_code\":\"01\",\"government_program_code\":\"0001\",\"government_action_code\":\"0001\",\"capability_source_code\":1,\"creditor_id\":1,\"year\":2012,\"emission_date\":\"2012-10-01\",\"budget_allocation_id\":7,\"contract_id\":1,\"purchase_process_id\":1,\"capability_id\":1,\"expense_nature_id\":3,\"amount\":\"100000.0\",\"to_s\":\"10\",\"items_total_value\":\"100000.0\",\"balance\":\"100000.0\",\"code\":10}]"},"http_version":"1.1"},"recorded_at":"Mon, 02 Sep 2013 11:00:01 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/pledge_items.json?_=1378119601819&action=index&by_pledge_id=10&controller=pledge_items","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"9db67487159f8b4c0d55c7583f136ee8\""]},"body":{"encoding":"UTF-8","string":"[{\"id\":9,\"material_id\":1,\"pledge_id\":10,\"description\":null,\"quantity\":10000,\"unit_price\":\"10.0\",\"estimated_total_price\":\"100000.0\",\"to_s\":null}]"},"http_version":"1.1"},"recorded_at":"Mon, 02 Sep 2013 11:00:01 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/pledge_items/9.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"99f003771d12efc13c82ca0ed0dae165\""]},"body":{"encoding":"UTF-8","string":"{\"id\":9,\"material_id\":1,\"pledge_id\":10,\"description\":null,\"quantity\":10000,\"unit_price\":\"10.0\",\"estimated_total_price\":\"100000.0\",\"to_s\":null}"},"http_version":"1.1"},"recorded_at":"Mon, 02 Sep 2013 11:00:02 GMT"},{"request":{"method":"get","uri":"http://contabil.dev/api/pledges/10.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"05fb857777a79d1b4ac1d0f25a54bfdd\""]},"body":{"encoding":"UTF-8","string":"{\"id\":10,\"items\":[{\"id\":9,\"material_id\":1,\"description\":null,\"quantity\":10000,\"unit_price\":\"10.0\",\"estimated_total_price\":\"100000.0\"}],\"expense_nature_expense_nature\":\"3.1.90.00.00\",\"function_code\":\"04\",\"subfunction_code\":\"01\",\"government_program_code\":\"0001\",\"government_action_code\":\"0001\",\"capability_source_code\":1,\"creditor_id\":1,\"year\":2012,\"emission_date\":\"2012-10-01\",\"budget_allocation_id\":7,\"contract_id\":1,\"purchase_process_id\":1,\"capability_id\":1,\"expense_nature_id\":3,\"amount\":\"100000.0\",\"to_s\":\"10\",\"items_total_value\":\"100000.0\",\"balance\":\"100000.0\",\"code\":10}"},"http_version":"1.1"},"recorded_at":"Mon, 02 Sep 2013 11:00:02 GMT"},[...]
{"request":{"method":"get","uri":"http://contabil.dev/api/pledge_items/9.json","body":{"encoding":"US-ASCII","string":""},"headers":{"x-unico-api-customer-secret-token":["1234"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/json; charset=utf-8"], "etag":["\"99f003771d12efc13c82ca0ed0dae165\""]},"body":{"encoding":"UTF-8","string":"{\"id\":9,\"material_id\":1,\"pledge_id\":10,\"description\":null,\"quantity\":10000,\"unit_price\":\"10.0\",\"estimated_total_price\":\"100000.0\",\"to_s\":null}"},"http_version":"1.1"},"recorded_at":"Mon, 02 Sep 2013 11:00:03 GMT"}],"recorded_with":"VCR 2.5.0"}