<h3><%= current_prefecture %></h3>
<h3>Mapa Comparativo de Preços</h3>
<h3><%= resource.licitation_process %></h3>

<% if resource.licitation_process.judgment_form_lot? %>
  <%= render 'judgment_form_lot', resource: resource %>
<% else %>
  <%= render 'other_judgment_form', resource: resource %>
<% end %>
