<%= f.input :description %>

<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :administration %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :organ_type %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :legal_nature %>
  </div>
</div>
