<div class="actions">
  <ul>
    <li>
      <%= link_to @parent.decorator.edit_parent_link, @parent.decorator.edit_parent_path %>
    </li>
    <% if @parent.allow_bidders? %>
      <li>
        <%= create_link(:licitation_process_id => @parent.id) %>
      </li>
    <% end %>
  </ul>
</div>
