<div class="actions">
  <ul>
    <li>
      <%= link_to "Ver solicitação", edit_direct_purchase_path(@parent) %>
    </li>

    <% if create? %>
      <li>
        <%= create_link(:direct_purchase_id => @parent.id) %>
      </li>
    <% end %>
  </ul>
</div>
