<fieldset class="administrative-process-budget-allocation nested">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g">
    <div class="yui3-u-1-3">
      <%= f.input :budget_allocation %>
    </div>

    <div class="yui3-u-1-3">
      <%= f.input :value, :input_html => { :class => 'allocation-value' } %>
    </div>

    <div class="yui3-u-1-3">
      <input type="button" class="button negative remove-administrative-process-budget-allocation" value="Remover Dotação">
    </div>
  </div>
</fieldset>
