.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-bold{
    font-weight: bolder;
}

.float-right{
    float: right;
}

.d-flex{
    display: flex
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.w-50{
    width: 50%;
}
.btn-small{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}