.text-center{
    text-align: center  !important;
}

.text-right{
    text-align: right !important;
}

.text-bold{
    font-weight: bolder;
}

.float-right{
    float: right;
}

.d-flex{
    display: flex
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.hint-text{
    color: #4272a2
}

.checkbox{
    margin-top: 38px;
}

.danger{
    background-color: #CB2429;
    border-color: #CB2429;
    color: #FFF;
}

.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn-small{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

h2.page{
    min-height: unset !important;
    margin-top: unset !important;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;

}
.row>.col, .row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

.col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

