.custom-alert-dialog{
  .ui-button{
    box-shadow: none !important;
    background: #EDEDED;
    border: solid 1px #C7C7C7;
    border-radius: 5px;
    color: #7C7F81;
    cursor: pointer;
    display: inline-block;
    font-size: 105.1%;
    padding: 0.5em;
    text-decoration: none;
  }
  .ui-dialog-buttonset{
    float: right;
  }

  .ui-dialog-buttonset button:first-child{
    margin-right: 8px;
  }
}
