<% resource.records.group_by { |r| resource.group_by_creditor r }.each do |creditor, items| %>
  <h2><%= creditor %></h2>

  <% items.group_by { |i| resource.group_by_licitation i }.each do |licitation_process, items| %>
    <h3><%= licitation_process %></h3>

    <table class="records">
      <thead>
        <th>Item</th>
        <th>Valor Unitário</th>
      </thead>

      <tbody>
        <% items.each do |item| %>
          <tr>
            <td><%= item.material %></td>
            <td><%= number_to_currency item.unit_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
