<div class="tabs" id="licitation_process">

  <ul>
    <li><a href="#tab-main">Principal</a></li>
    <li><a href="#tab-purchasing-unit">Unidades de Compra Permitida</a></li>
  </ul>

  <div id="tab-main"><%= render 'main', :f => f %></div>
  <div id="tab-purchasing-unit"><%= render 'purchasing_units', :f => f %></div>

</div>