<%= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => 'post' } do |f| %>
  <p>Digite seu e-mail abaixo e nós enviaremos um código para criação de uma nova senha.</p>

  <%= f.input :email, :required => false, :hint => false %>

  <div class="buttons">
    <%= f.button :submit, 'Enviar' %>
  </div>
<% end %>

<script>
  document.getElementById("user_email").focus();
</script>
