<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :creditor %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :licitation_process %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-6">
    <%= f.input :authorization_date %>
  </div>
</div>
