<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#item">Itens</a>
    </li>

    <li>
      <a href="#nf">Notas Fiscais</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="item">
    <%= render 'item', :f => f %>
  </div>

  <div id="nf">
    <%= render 'nf', :f => f %>
  </div>
</div>
