<div class="buttons">

  <%= link_to('Imprimir', report_supply_orders_path(resource.id), class: "button primary") unless resource.id.nil? %>
  <%= f.button :submit if can?(:modify, main_controller_name) %>
  <%= f.button :back %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>
