<%= f.error :items %>
<button type="button" class="button primary edit-order-items" style="float: right; margin-bottom: 10px;">Editar</button>
<table id="items-records" class="records">
  <thead>
  <tr>
    <th>Data do Pedido</th>
    <th><%= SupplyOrderItem.human_attribute_name :material %></th>
    <th>Qtd. Licitada</th>
    <th width="10%">Qtd. Atd. Anteriormente</th>
    <th width="10%">Saldo</th>
    <th width="10%">Qtd/Pedido</th>
  </tr>
  </thead>
  <tbody>
  <% Material.by_licitation_process(f.object.licitation_process_id).each do |material| %>
    <%= f.association :items, :collection => init_object(f.object, material) do |p| %>
      <%objects = SupplyOrder.where(licitation_process_id: f.object.licitation_process_id, purchase_solicitation_id: f.object.purchase_solicitation_id)
        quantity_delivered = objects.joins(:items).where("compras_supply_order_items.material_id = ?", material.id).sum(:quantity).to_f || 0
      %>

      <%= render 'supply_order_items/form', f: p, parent: f, material: material, licitation_process: f.object.licitation_process_id, balance: quantity_delivered.to_i %>
    <% end %>
  <% end %>
  </tbody>
</table>

<script>
  <%if f.object.items.present? %>
  $(".supply_order_quantity").prop('readonly', true);
  <% end %>

  <%unless f.object.persisted? %>
  $('.edit-order-items').hide();
  <% end %>

  $(".edit-order-items").click(function(){
    $(".supply_order_quantity").prop('readonly', !$(".supply_order_quantity").prop('readonly'));
  })
</script>
