<h2 id="title">
  <span><%= "Ordem de Fornecimento: #{resource.decorator.number_year}" %></span>
  <span class="subtitle"><%= "Fornecedor: #{resource.creditor}" %></span>
  <span class="subtitle"><%= "Processo de Compra: #{resource.licitation_process.to_s}" %></span>
</h2>

<%= render 'form_wrapper' %>

<style>
  h2 span{
    display: block;
  }
  h2 span.subtitle{
    font-size: 12px;
  }
</style>