<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#accounts">Contas Contábeis</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="accounts">
    <%= render 'accounts', :f => f %>
  </div>
</div>
