<div class="buttons">
  <%= f.button :submit if can?(:modify, main_controller_name) %>

  <% if f.object.persisted? %>
    <%= link_to('CRC', registration_cadastral_certificates_path(:creditor_id => resource.id),
                :class => "button primary", 'data-disabled' => f.object.decorator.cant_have_crc_message) %>
  <% end %>

  <%= f.button :back %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>
