<div class="actions">
  <ul>
    <% if create? %>
      <li>
        <%= create_link({}, 'btn btn-primary') %>
      </li>
    <% end %>

    <% if auction_filter? %>
      <li>
        <%= filter_link 'btn btn-primary' %>
      </li>
    <% end %>
  </ul>
</div>
