<div class="actions button-cad">

  
    <% if create? %>
     
        <%= create_link({}, 'btn btn-primary pull-right') %>
      
    <% end %>

    <% if auction_filter? %>
     
        <%= filter_link 'btn btn-primary pull-right' %>
    
    <% end %>

</div>
