<div class="actions">
  <ul>
    <% if create? %>
      <li>
        <%= create_link %>
      </li>
    <% end %>

    <% if auction_filter? %>
      <li>
        <%= filter_link %>
      </li>
    <% end %>
  </ul>
</div>
