<%= stylesheet_link_tag 'compras/eletronic_auction/auction'%>

<fieldset>
  <div id="auction_smartwizard">
    <ul class="nav">
      <li>
        <a class="nav-link" href="#step-1">
          Etapa 1 - Equipe Pregão
        </a>
      </li>
      <li>
        <a class="nav-link" href="#step-2">
          Etapa 2 - Dados dos Itens
        </a>
      </li>
      <li>
        <a class="nav-link" href="#step-3">
          Etapa 3 - Dados dos Grupos
        </a>
      </li>
<!--      <li>-->
<!--        <a class="nav-link" href="#step-4">-->
<!--          Etapa 4 - Configurações Finais e Edital-->
<!--        </a>-->
<!--      </li>-->
    </ul>

    <div class="tab-content">
      <div id="step-1" class="tab-pane" role="tabpanel">
        <%= render 'main' %>
      </div>
      <div id="step-2" class="tab-pane" role="tabpanel">
        <%= render 'items' %>
      </div>
      <div id="step-3" class="tab-pane" role="tabpanel">
        <%= render 'group_items' %>
      </div>
      <!--      <div id="step-4" class="tab-pane" role="tabpanel">-->
      <%#= render 'step_four', f: f %>
      <!--      </div>-->
    </div>
  </div>

</fieldset>

<%#= render 'form_buttons', :f => f %>

<style>
  .btn-finish {
    display: none;
  }
  .smartwizard .tab-pane{
    overflow-y: hidden
  }
  #auction_support_teams{
    padding: 13px;
  }
  .tab-content{
    height: unset !important;
  }

  h4{
    color: #3f6e9d;
  }
</style>
