<div class="yui3-g">
  <div class="yui3-u-1">
    <%= link_to "Visualizar", edit_resource_path(resource), class: 'btn btn-primary' %>
    <%= edit_resource_path(resource)%>
  </div>
</div>
<div class="yui3-g">
  <div class="yui3-u-1">
    <%= disput_link(resource) %>
  </div>
</div>