<table class="records">
  <tbody>
  <% collection.each do |resource| %>
    <tr id="<%= dom_id resource %>">
      <td>

        <div class="yui3-g section-blue">
          <div class="yui3-u-1">
            <div class="ellipsis">
            <p><b>Pregão:</b> <spam class="white"><%= "#{resource.licitation_number}/#{resource.year}" %> - <%= resource.object %></spam></p>
            </div>
          </div>
        </div>

        <div class="yui3-g section-gray">
          <div class="yui3-u-1-2 ">
            <p>Data Entrega de Proposta:  </p>
            <p>Data da Abertura de Licitação:  </p>
          </div>

          <div class="yui3-u-1-2 actions">
            <%= link_to "Visualizar", edit_resource_path(resource), class: 'button primary' %>
            <button type="button" class="button primary">Entrar Disputa</button>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<style>
  .section-blue{
    height: 43px;
    background-color: #7e99b5;
    font-size: 22px;
    padding: 10px;
  }
  table.records{
    color: black;
  }
    .section-gray{
      background-color: #e6e5e5bf;
      padding: 10px;
    }

    .section-gray p{
      font-size: 22px;
    }

    .section-gray a, button{
      font-size: 18px;
      border-radius: 11px !important;
    }
    .white{
      color:white;
    }
    .actions{
      text-align: end;
      padding-top: 7px;
    }
  .ellipsis{
    white-space: word;
    overflow:hidden;
    height: 49px;
  }

  .ellipsis:after{
    content:'...';
  }
</style>
