<div class="wrapper-form">
  <h2 id="title">
    <span><%= new_title %></span>
  </h2>
  <%= render 'form_wrapper' %>
</div>
<style>
  h2 span{
    display: block;
  }
  h2 span.subtitle{
    font-size: 12px;
  }
</style>