<% if resource.persisted? %>
  <div class="margin-top19">
    <hr />
    <h4>Pessoas vinculadas ao departamento</h4>

    <%= render_nested_form_for parent: resource,
      resource: resource.department_people.build,
      remote_buttons_partial: 'remote_buttons',
      updateable: false %>
  </div>
<% end %>
