<div class="buttons">
  <%= f.button :submit, 'Adicionar', class: "button primary",
    data: { disable_with: t("nested_remote.wait") } %>
  <%= button_tag t("nested_remote.clear"), id: 'clear-form', type: :button, class: 'button' %>
</div>
