<div class="d-flex justify-content-between" style="align-items: baseline">
  <h4 class="hint-text">
    * Essa funcionalidade tem por finalidade fazer o levantamento das necessidades de compra de cada departamento
  </h4>

  <div class="actions">
    <ul>
      <% if create? %>
        <li>
          <%= create_link %>
        </li>
      <% end %>

      <% if filter? %>
        <li>
          <%= filter_link %>
        </li>
      <% end %>
    </ul>
  </div>
</div>