<div class="tabs" id="licitation_process">
  <ul>
    <li><a href="#tab-main">Cadastro</a></li>
    <li><a href="#tab-departments">Departamentos Solicitantes</a></li>
    <li><a href="#tab-purchase_solicitation">Solicitações de Compra</a></li>
  </ul>

  <div id="tab-main"><%= render 'main', :f => f %></div>
  <div id="tab-departments"><%= render 'departments', :f => f %></div>
  <div id="tab-purchase_solicitation"><%= render 'purchase_solicitation', :f => f %></div>

</div>