<div class="yui3-g capability-destination-detail nested">
  <%= f.input :id, :as => 'hidden' %>
  <%= f.input :_destroy, :as => 'hidden', :input_html => { :class => 'destroy' } %>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :capability_allocation_detail %>
    </div>

    <div class="yui3-u-1-4">
      <%= f.input :status %>
    </div>
  </div>

  <p class="yui3-u">
    <input type="button" class="button negative remove-detail" value="Remover Detalhamento">
  </p>
</div>
