<div class="yui3-g">
  <div class="yui3-u-1-3">
    <%= f.input :licitation_process, as: :modal, data_url: modal_licitation_processes_url,
                hidden_field: :licitation_process_id, :include_blank => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :contract, as: :modal, data_url: modal_contracts_url,
                hidden_field: :contract_id, :include_blank => true %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :purchase_solicitation, as: :modal, data_url: purchase_solicitations_url,
                hidden_field: :purchase_solicitation_id, :include_blank => true %>
  </div>

</div>

<script>
    $(function () {
        $('#new_extract_consumption_per_process_report')[0].reset();

        $('#extract_consumption_per_process_report_licitation_process_id').change(function(){
          var urlModal = Routes.modal_contracts,
            params = {
              purchase_process_id: $(this).val()
            };
          var urlModal2 = Routes.modal_purchase_solicitations,
            params2 = {
              by_licitation_process: $(this).val()
            };

          urlModal += "?" + $.param(params);
          urlModal2 += "?" + $.param(params2);
          $('#extract_consumption_per_process_report_contract').data('modal-url', urlModal);
          $('#extract_consumption_per_process_report_purchase_solicitation').data('modal-url', urlModal2);
        })

    });
</script>