<div class="buttons">
  <%= f.button :submit unless f.object.persisted? %>
  <% if f.object.persisted? %>
    <% if f.object.reserve_fund_annul %>
      <%= link_to "Anulação", edit_reserve_fund_annul_path(f.object.reserve_fund_annul), :class => 'button primary' %>
    <% else %>
      <%= link_to "Anular", new_reserve_fund_annul_path(:reserve_fund_id => resource.id), :class => 'button primary' %>
    <% end %>
  <% end %>
  <%= f.button :cancel %>
</div>
