<div class="yui3-g">
  <div class="yui3-u-3-5">
    <%= f.input :purchase_form, :as => :auto_complete, :fake => true, :required => true,
                'data-hidden-field-class' => 'unique' %>
  </div>
</div>
