<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :budget_allocation_year %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :total_value_of_items, :disabled => true %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :budget_allocations_total_value, :disabled => true %>
  </div>
</div>

<%= f.input :purchase_process_budget_allocations, as: :nested_grid,
    columns: [:budget_allocation, :budget_allocation_expense_nature,
              :expense_nature, :budget_allocation_balance, :value] %>
