<table class="records">
  <thead>
    <tr>
      <th>
        Fornecedor vencedor
      </th>
      <th>
        Valor cotado
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= resource.winner_proposal_creditor %>
      </td>
      <td>
        <%= resource.decorator.winner_proposal_total_price %>
      </td>
    </tr>
  </tbody>
</table>
