<% if f.object.trading? && f.object.decorator.disabled_trading_message.blank? %>
  <% trading = initialize_trading f.object %>
  <% item = trading.items.first %>
  <%= render 'purchase_process_tradings/form', item: item,
             historic: item.bids_historic, creditors:  item.creditors_ordered_outer,
             trading: trading, f: f %>

  <%= f.simple_fields_for :trading do |p| %>
    <%= p.input :observation %>
  <% end %>
<% else %>
  <div class="alert alert-warning">
    <strong><%= f.object.decorator.disabled_trading_message %></strong>
  </div>
<% end %>