<div class="tabs">
  <ul>
    <li>
      <a href="#main">Pedido</a>
    </li>

    <li>
      <a href="#supply_orders">Ordem de Fornecimentos</a>
    </li>

    <li>
      <a href="#attendance">Atendimento</a>
    </li>

  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="supply_orders">
    <%= render 'supply_orders', :f => f %>
  </div>

  <div id="attendance">
    <%= render 'attendance', :f => f %>
  </div>

</div>
