<tr class="record">
  <td>
    <%= name %>
  </td>
  <td>
    <input id="administrative_act_dissemination_source_record_<%= id %>_id" type="hidden" name="<%= f.sanitized_object_name %>[dissemination_source_ids][]" value="<%= id %>" />
    <button class="button negative modal-finder-remove">Remover</button>
  </td>
</tr>
