<div class="buttons">
  <% if can?(:modify, main_controller_name) && f.object.tied_creditor_proposals.any? %>
    <%= f.button :submit %>
  <% end %>

  <%= f.button :back, href: @proposal_path_generator.proposals_path %>
</div>
