<div class="buttons">
  <% if can?(:modify, main_controller_name) && f.object.tied_creditor_proposals.any? %>
    <%= f.button :submit %>
  <% end %>

  <%= f.button :back, href: purchase_process_proposals_path(licitation_process_id: resource.id) %>
</div>
