<%= f.input :licitation_commission,
  :modal_url => modal_licitation_commissions_path(:can_take_part_in_trading => true,
                                                  :locked_fields => ['commission_type', 'exoneration_date']) %>

<table class="records table-puchase-solicitation">
  <thead>
    <tr>
      <th>Função</th>
      <th>Membro</th>
    </tr>
  </thead>
  <tbody id="licitation-commission-members">
    <%= render :partial => 'tradings/commission_member', :collection => f.object.auctioneer, :as => :member %>

    <%= render :partial => 'tradings/commission_member', :collection => f.object.support_team, :as => :member %>
  </tbody>
</table>
