<table class="records">
  <tbody>
    <% collection.each do |resource| %>
      <tr id="<%= dom_id resource %>">
        <td>
          <p><%= link_to resource, edit_resource_path(resource) %></p>

          <% if resource.decorated? && resource.decorator.respond_to?(:summary) %>
            <p><%= resource.decorator.summary %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
