<tr data-resource="<%= render :partial => "data_attributes", :formats => [:json], :locals => { :resource => record } %>">
  <% attributes.each do |attribute| %>
    <td><%= formatted_attribute record, attribute %></td>
  <% end %>
</tr>
