<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
    <li><a href="#moviments">Movimentos</a></li>
  </ul>

  <div id="main">
    <%= render 'general', :f => f %>
  </div>

  <div id="moviments">
    <%= render 'additional_credit_opening_moviment_types', :f => f %>
  </div>
</div>

<script type="text/javascript">
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    }
  });

  $('form.additional_credit_opening').delegate('#additional_credit_opening_administractive_act_id', 'change', function (event, data) {
    if (data) {
      var record = data.record;
      $('#additional_credit_opening_administractive_act_type').val(record.data('administractive-act-type'));
      $('#additional_credit_opening_publication_date').val(record.data('publication-date'));
    }
  });

  $('form.additional_credit_opening').delegate('#additional_credit_opening_additional_credit_opening_nature_id', 'change', function (event, data) {
    if (data) {
      var record = data.record;
      $('#additional_credit_opening_kind').val(record.data('kind'));
    }
  });

  $('form.additional_credit_opening').delegate('.moviment-type', 'change', function (event, data) {
    if (data){
      var record = data.record;

      if(record.data('character') == 'budget_allocation') {
        $(this).closest('fieldset').find('.budget-allocation').attr('disabled', false);
        $(this).closest('fieldset').find('.capability').attr('disabled', true);
        $(this).closest('fieldset').find('[id$=capability]').val('');
        $(this).closest('fieldset').find('[id$=capability_id]').val('');
      } else if(record.data('character') == 'capability') {
        $(this).closest('fieldset').find('.capability').attr('disabled', false);
        $(this).closest('fieldset').find('.budget-allocation').attr('disabled', true);
        $(this).closest('fieldset').find('[id$=budget_allocation]').val('');
        $(this).closest('fieldset').find('[id$=budget_allocation_id]').val('');
      }
    }
  });
</script>
