<div class="buttons">
  <%= f.button :submit if can?(:modify, main_controller_name) %>
  <%= link_to('Desfazer última oferta', destroy_last_bid_path(@parent), :method => 'delete',:class => 'button') if f.object.decorator.show_undo_button? %>
  <%= link_to t(:back), trading_items_path(:trading_id => @parent.trading_id), :class => 'button' %>
</div>

<%= javascript_include_tag 'trading_item_bid' %>
