<div class="actions">
  <ul>
    <li>
      <%= filter_link %>
    </li>

    <li>
      <%= link_to "Gerar Acompanhamento Mensal", new_generator_generator_supply_order_path %>
    </li>
  </ul>
</div>
