<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#supply_orders">Ordem de Fornecimentos</a>
    </li>

  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>
  
  <div id="supply_orders">
    <%= render 'supply_orders', :f => f %>
  </div>

</div>
