<div class="buttons">
  <% if f.object.new_record? %>
    <%= f.button :submit, "Gerar" %>
  <% end %>

  <% if f.object.persisted? && f.object.processing? %>
    <%= link_to 'Cancelar', cancel_generator_generator_supply_order_path(resource), method: :post,
      class: 'button negative' %>
  <% end %>

  <%= f.button :back %>
</div>
