<div class="buttons">
  <% if can?(:modify, main_controller_name) %>
    <%= f.button :submit, 'data-disabled' => f.object.decorator.not_updatable_message %>
  <% end %>

  <%= f.button :back, href: creditors_proposals_url %>
</div>
