<div class="row">
  <div class="col">
    <%= f.input :demand, :as => :auto_complete, :fake => true%>
  </div>
  <div class="col">
    <%= f.input :purchase_solicitation, :as => :auto_complete, :fake => true,
                'data-hidden-field-class' => 'unique',:input_html => {} %>
  </div>
  <%= f.input :department, as: :fake, input_html:{style:'display: none', name:'solicitation[department]'}, label: false %>
</div>

<h4 style="color: #4272a2">
  * Escolha uma Gestão de Solicitação de Compra anterior ou uma Solicitação de Compra anterior para servir de modelo
</h4>


<script>

    // esse js ta resolvendo um bug que deu na aplicação,
    //     a mascara com pra numbem (ex.:1.200,00) não estava funcionando
    // como deveria, como tambem o update pois estava acrescentando
    // uma casa decimal a mais (salvava 1 e para o banco aumentava
    // um 0 em todo update), esse correção é feita no model
    // list_purchase_solicitation,linha 11
    function convert(number){
        return (Number(number)).toLocaleString("pt-BR", {
            minimumFractionDigits: 2,maximumFractionDigits: 2
        });
    }

    $(function() {

        $("#list_purchase_solicitations_records tbody tr td").each(function() {
            if ( $(this).attr('class') == "consumed_value" || $(this).attr('class') == "expected_value"){
                $(this).text((convert($(this).text())));
            }
        });

        $('#list_purchase_solicitations_records .edit-nested-record').click(function(){
            setTimeout(function(){
                consumed_value = $('#licitation_process_consumed_value').val();
                expected_value = $('#licitation_process_expected_value').val();
                $('#licitation_process_consumed_value').val(convert(consumed_value));
                $('#licitation_process_expected_value').val(convert(expected_value));
            }, 100);
        });


        $("#licitation_process_purchase_solicitation_id").change(function(event, data){
          $("#licitation_process_department").val(data.department);
        });
    });

</script>