<table class="records">
  <thead>
    <tr>
      <%- attributes.each do |attribute| -%>
      <th>
        <%%= resource_class.human_attribute_name :<%= attribute.name %> %>
      </th>
      <%- end -%>
    </tr>
  </thead>

  <tbody>
    <%% localized(collection) do |resource| %>
      <tr id="<%%= dom_id resource %>">
        <%- attributes.each_with_index do |attribute, index| -%>
        <td>
          <%- if index == 0 -%>
          <%%= link_to resource, edit_resource_path(resource) %>
          <%- else -%>
          <%- if attribute.type == :boolean -%>
          <%%= t resource.<%= attribute.name %>.to_s %>
          <%- else -%>
          <%%= resource.<%= attribute.name %> %>
          <%- end -%>
          <%- end -%>
        </td>
        <%- end -%>
      </tr>
    <%% end %>
  </tbody>
</table>
