<table class="records">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% report.records_grouped.each do |record| %>
    <tr>
      <td><%= report.record_budget_structure record %></td>
      <td><%= report.item(record) %></td>
      <td><%= number_with_precision record.quantity %></td>
      <td><%= number_with_precision record.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>
