<h2>
  Gerar <%= t "#{@report.class.to_s.tableize}.#{@report}.one" %>
</h2>

<%= render 'form_wrapper' %>

<div class="field-without-label">
  <table class="records">
    <thead>
      <tr>
        <th>Solicitante</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <%= render 'records', report: @report %>
    </tbody>
  </table>
</div>
