<h1>
  Relatório de Agenda de Licitações
</h1>

<% if @report.analytical? || @report.type_report.nil? %>
  <%= render 'report_analytical', report: @report %>
<% else %>
  <%= render 'records', report: @report %>
<% end %>
