<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
    <li><a href="#responsibles">Responsáveis</a></li>
    <li><a href="#members">Membros</a></li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="responsibles">
    <%= render 'responsibles', :f => f %>
  </div>

  <div id="members">
    <%= render 'members', :f => f %>
  </div>
</div>

<script>
  $("#licitation_commission_regulatory_act_id").change(function (event, regulatory_act) {
    if (regulatory_act) {
      $('#licitation_commission_regulatory_act_publication_date').val(regulatory_act.publication_date);
    } else {
      $('#licitation_commission_regulatory_act_publication_date').val('');
    }
  });

  $(".licitation_commission").on('change', '.individual', function (event, individual) {
    if (individual){
      $(this).closest('.nested').find('.cpf').val(individual.cpf);
    } else {
      $(this).closest('.nested').find('.cpf').val('');
    }
  });

  $(".licitation_commission").on('change', '.role', function () {
    var classRegisterNeeded = $(this).val() == '<%= LicitationCommissionResponsibleRole::LAWYER %>';

    $(this).closest('.responsible').find('.class_register').attr('disabled', !classRegisterNeeded);
  });
</script>
