<div class="tabs">
  <ul>
    <li><a href="#general">Dados gerais</a></li>
    <li><a href="#responsibles">Responsáveis</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="responsibles">
    <%= render 'responsibles', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    }
  });

  $("#licitation_commission_regulatory_act").change(function (event, data) {
    if (data){
      var record = data.record;
      $('#licitation_commission_regulatory_act_publication_date').val(record.data("publication-date"));
    } else {
      $('#licitation_commission_regulatory_act_publication_date').val('');
    }
  });

  $(".licitation_commission").delegate('.individual', 'change', function (event, data) {
    if (data){
      var record = data.record;

      $(this).closest('.responsible').find('.cpf').val(record.data('cpf'));
    } else {
      $(this).closest('.responsible').find('.cpf').val('');
    }
  });

  $(".licitation_commission").delegate('.role', 'change', function (event, data) {
    var class_register_needed = ($(this).val() == '<%= LicitationCommissionResponsibleRole::LAWYER %>');

    $(this).closest('.responsible').find('.class_register').attr('disabled', !class_register_needed);
  });
</script>
