<div class="yui3-g">
  <div class="yui3-u-1-4">
    <%= f.input :licitation_process %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :purchase_solicitation %>
  </div>

  <div class="yui3-u-1-4">
    <%= f.input :contract %>
  </div>
</div>

<%= f.input :observation %>

