<div class="buttons">
  <%= f.button :submit unless f.object.persisted? %>
  <%= f.button :back, :href => purchase_solicitation_liberations_path(:purchase_solicitation_id => f.object.purchase_solicitation_id) %>
</div>
