@media all {
  .page-break {
    display: none;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
  .print_link{
    display: none;
  }
}

.table-border {
  border: 1px solid;
  padding: 10px;
}

.table-border .yui3-g {
  padding-top: 7px;
}

.table-border .label {
  font-weight: bold;
}

h1 {
  text-align: center;
}

.text-center{
    text-align: center !important;
}

.margin-top {
  margin-top: 20px;
}

ol.alpha-list li {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
  list-style: lower-alpha !important;
}

.level1 {
  padding-left: 25px !important;
}

.level2 {
  padding-left: 40px !important;
}

.level3 {
  padding-left: 60px !important;
}
