table.records.black {
  color: #000;
}

table.records td, table.records th {
  border: 1px solid #000;
  padding: 1em;
}

table.records tr:nth-child(even) td, table.records tr.zebra td {
  background-color: #FFF;
}
