<tr class="record" id="street_neighborhood_record_<%= id %>" >
  <td>
    <%= name %>
  </td>

  <td>
    <input type="hidden" name="street[neighborhood_ids][]" value="<%= id %>">
    <button class="button negative modal-finder-remove">Remover</button>
  </td>
</tr>
