<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    }
  });
</script>
