<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
    <li><a href="#expirations">Vencimentos</a></li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="expirations">
    <%= render 'expirations', :f => f %>
  </div>
</div>

<script>
  function fillParcelNumber() {
    $('div.parcel .destroy[value=false]').each(function(index, item){
      $(this).parents('.parcel').find('.order').html(index + 1);
    });
  }

  $('form.precatory').on('click', '.remove-parcel', fillParcelNumber)
  $('form.precatory').on('append.mustache', fillParcelNumber);
  fillParcelNumber();
</script>
