<div class="buttons">
  <% if can?(:modify, main_controller_name) && f.object.editable? %>
    <%= f.button :submit %>
  <% end %>

  <%= f.button :back %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) && f.object.editable? %>
    <%= f.button :destroy %>
  <% end %>
</div>
