<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
    <li><a href="#planning">Programação</a></li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>
  <div id="planning">
    <%= render 'planning', :f => f %>
  </div>
</div>

<script>
  function applyMonthValue(value) {
    $('#month').find('td.value').each(function(){
      $(this).html(numberWithDelimiter(value));
    });
  }

  function calculateDivide(){
    var input_value = $('#budget_revenue_value').val();
    if (input_value) {
      value = new BigNumber(parsePtBrFloat(input_value));
      calculed = toFixedRoundDown(parseFloat(value.divide(new BigNumber(12))));
      applyMonthValue(calculed);

      rest = value.subtract(new BigNumber(calculed.toFixed(2) * 12));

      $('#month_12').find('td.value').html(numberWithDelimiter(parseFloat(calculed) + parseFloat(rest)));
    }
  }

  $('#budget_revenue_revenue_nature_id').on('change', function (event, revenue_nature) {
    if (revenue_nature) {
      $('#budget_revenue_revenue_nature_docket').val(revenue_nature.docket);
    } else {
      $('#budget_revenue_revenue_nature_docket').val('');
    }
  });

  $('#budget_revenue_kind').on('change', function(){
    var kind = $(this).val();

    if (kind == '<%= BudgetRevenueKind::AVERAGE %>') {
      $('#budget_revenue_value').val('').attr('disabled', true);
      applyMonthValue(0);
    } else if (kind == '<%= BudgetRevenueKind::DIVIDE %>') {
      $('#budget_revenue_value').attr('disabled', false);
      calculateDivide();
    }
  }).change();

  $('form.budget_revenue').delegate('#budget_revenue_value', 'keyup', calculateDivide);
</script>
