<div class="buttons">
  <% if f.object.new_record? %>
    <%= f.button :submit %>
  <% else %>
    <%= link_to "Imprimir", resource_path(resource), :class => 'clear button neutral' %>
  <% end %>
  <%= f.button :cancel %>
</div>
