<div class='yui3-g'>
  <div class="yui3-u-2-3">
    <%= f.input :creditor, as: :auto_complete, fake: true, required: true,
      'data-hidden-field-class' => 'unique' %>
  </div>

  <div class="yui3-u-1-3">
    <%= f.input :email, as: :fake, required: true %>
  </div>
</div>
