<h2>
  Gerar <%= t "#{@report.class.to_s.tableize}.#{@report}.one" %>
</h2>

<%= render 'form_wrapper' %>

<div class="field-without-label">
  <%= render 'actions' %>
  <%= render 'records', report: @report %>
</div>
