<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>
</div>

<script>
  $('#bank_account_agency_id').on('change', function (event, agency) {
    if (agency) {
      $('#bank_account_agency_number').val(agency.number);
      $('#bank_account_agency_digit').val(agency.digit);

      if ( !$('#bank_account_bank').val() ) {
        $('#bank_account_bank').val(agency.bank);
        $('#bank_account_bank_id').val(agency.bank_id);
      }
    } else {
      $('#bank_account_agency_number').val('');
      $('#bank_account_agency_digit').val('');
    }
  });

  $("#bank_account_bank_id").on('change', function (event, bank) {
    if (bank) {
      var url = "<%= modal_agencies_path %>?",
      params = {
        locked_fields: ["bank"],
        bank_id: $(this).val()
      };

      url += jQuery.param(params);

      $("#bank_account_agency").attr('data-modal-url', url);

      if (this.value) {
        $("#bank_account_agency").attr('disabled', false);
      } else {
        $("#bank_account_agency").attr('disabled', true);
      }
    } else {
      $('#bank_account_agency, #bank_account_agency_id').val('');
      $("#bank_account_agency").attr('data-modal-url', "<%= modal_agencies_path %>");
    }
  });
</script>
