<div class="tabs">
  <ul>
    <li>
      <a href="#prefecture">Prefeitura</a>
    </li>

    <li>
      <a href="#address">Endereço</a>
    </li>
  </ul>

  <div id="prefecture">
    <%= render 'main', :f => f %>
  </div>

  <div id="address">
    <%= render 'address', :f => f %>
  </div>
</div>
