<%= f.association :personable, :collection => f.object.personable.is_a?(SpecialEntry) ? f.object.personable.localized : SpecialEntry.new do |p| %>
  <div class="tabs">
    <ul>
      <li><a href="#special_entry">Inscrição especial</a></li>
      <li><a href="#special_entry_contact">Contato</a></li>
      <li><a href="#special_entry_address">Endereço</a></li>
    </ul>

    <div id="special_entry">
      <%= render 'special_entries/special_entry', :f => f %>
    </div>

    <div id="special_entry_contact">
      <%= render 'special_entries/contact', :f => f %>
    </div>

    <div id="special_entry_address">
      <%= render 'special_entries/address', :f => f %>
    </div>
  </div>
<% end %>
