<div class="yui3-g">
  <div class="yui3-u-1">
    <%= f.input :secretary_id, as: :hidden, input_html:{value: secretary.id} %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1">
    <%= f.input :employee %>
  </div>
</div>
