<div class="tabs">
  <ul>
    <li><a href="#general">Informações</a></li>
    <li><a href="#addresses">Endereços</a></li>
    <li><a href="#budget_unit_responsibles">Responsáveis</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="addresses">
    <%= render 'address', :f => f %>
  </div>

  <div id="budget_unit_responsibles">
    <%= render 'budget_unit_responsible', :f => f %>
  </div>
</div>
