<%#TODO: Código desnecessário?! O pledge_id não é associado com balance_adjustment. %>
<%= f.input :balance_adjustment_id, as: :hidden %>
<%= f.input :material_id, as: :hidden, input_html: { value: material_id } %>

<div class="yui3-g">
  <div class="yui3-u-7-8">
    <%= f.input :material, as: :string, disabled: true, input_html: { value: material } %>
  </div>
</div>
