<p><%= @creditor.name %>,</p>

<p>
  Você foi convidado a participar da coleta de preço da
  <%= @prefecture %>.
</p>

<p>
  Para acessar nosso sistema e participar
  <%= link_to 'clique aqui', full_path(edit_price_collection_proposal_path(@price_collection.decorator.proposal_for_creditor(@creditor)), :domain => @customer.domain) %>
</p>
