<%= form_tag(auction_providers_check_register_external_path, class: "simple_form") do |f| %>
  <div class="d-flex flex-column align-items-center">
    <h4>Digite o seu CNPJ</h4>
    <div class="form-group user_login field_with_hint w-50">
      <input type="text" class="form-control w-100" id="cnpj" data-mask="99.999.999/9999-99" name="cnpj" placeholder="Digite o CNPJ">
    </div>
    <div class="buttons">
      <input class="button primary" id="user_submit" name="commit" type="submit" value="Consultar">
    </div>
  </div>
<% end %>