<div class="tabs">
  <ul>
    <li>
      <a href="#secretary">Secretaria</a>
    </li>
    <% if f.object.persisted? %>
      <li>
        <a href="#employee">Secretário</a>
      </li>
    <% end %>
  </ul>

  <div id="secretary">
    <%= render 'secretary', :f => f %>
  </div>

  <% if f.object.persisted? %>
    <div id="employee">
      <%= render 'employees', :f => f, secretary: f.object %>
    </div>
  <% end %>
</div>

<style>
  .input.boolean{
    padding-top: 40px;
  }
</style>

<script>
  $(document).on('click', ".act_field", function(){
    $("[id$=active]").prop('checked', false);
    $(this).prop('checked', true)
  })
</script>