<fieldset>
  <%= f.input :name %>

  <div class="yui3-g">
    <div class="yui3-u-2-3">
      <%= f.input :state %>
    </div>

    <div class="yui3-u-1-8">
      <%= f.input :code %>
    </div>
  </div>
</fieldset>
