<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#bank_accounts">Conta Bancária</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="bank_accounts">
    <%= render 'bank_accounts', :f => f %>
  </div>
</div>
