<fieldset>
  <%= f.input :name %>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :city %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :district %>
    </div>
  </div>
</fieldset>

<script>
  function setModalUrlToDistrict() {
    var url = "<%=  modal_districts_path %>?",

    params = {
      locked_fields: ["city"],
      district: {
        city_id: $("#neighborhood_city_id").val()
      }
    };

    url += jQuery.param(params);

    $("#neighborhood_district").attr("data-modal-url", url);
  };

  $("#neighborhood_city_id").change(function (event, data) {
    setModalUrlToDistrict();
    $("#neighborhood_district").attr("disabled", !this.value);
    $("#neighborhood_district").val('');
  });

  (function() {
    $("#neighborhood_district").attr("disabled", !$("#neighborhood_city").val());
    setModalUrlToDistrict();
  })();
</script>
