<fieldset>
  <%= f.input :name %>

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :city %>
    </div>

    <div class="yui3-u-1-2">
      <%= f.input :district, :disabled => true %>
    </div>
  </div>
</fieldset>

<script>
  $("#neighborhood_city_id").change(function (event, data) {
    if (!this.value) {
      return;
    }

    $("#neighborhood_district").attr("data-modal-url", "<%= modal_districts_path %>?locked_fields=[city]&filter[city_id]=" + this.value).attr("disabled", false);
  }).change();
</script>
