/*
 *= require unico-assets
 *= require compras/eletronic_auction/bootstrap.min
 *= require compras/eletronic_auction/compras_auction
 *= require compras/content
 *= require compras/sidebar
 *= require compras/records
 *= require compras/radio_button
 *= require compras/table_size
 *= require compras/error_base
 *= require compras/simple_form
 *= require compras/nested_grid
 *= require compras/buttons
 *= require simple_form.auto_complete_input
 *= require bootstrap_prepend
 *= require select2/select2
 *= require smart_wizard/smart_wizard.min
 *= require smart_wizard/smart_wizard_all.min
 *= require material_icons
 */

#container {
  width: 100%;
  height: 100%;
}

#container #header img {
  margin: 15px 0 0 15px;
}

#content {
  background: #F9F9F9;
}

.nested-container, .simple_form fieldset.group .wrapper {
  margin-bottom: 1.5em;
}

.nested-container .add-link-container {
  text-align: right;
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

.nested-container h3, .simple_form fieldset.group legend {
  font-size: 170%;
  margin: 0;
}

.nested-container .fields, .simple_form fieldset.group .wrapper {
  background: #FFF;
  border: solid 1px #e8eaee;
}

.nested-container .fields .nested, .simple_form fieldset.group .wrapper {
  padding: 1.5em;
}

.nested-container p.button-container {
  padding: 0;
  margin: 0;
}

#subtitle {
  margin-top: -3.3em;
  margin-bottom: 2.1em;
  font-size: 16px;
  color: #448DD6;
}

.field-without-label {
  margin-top: 28px;
}

.add-margin-bottom {
  margin-bottom: 10px;
}

.collection-as-block .check-all {
  margin-bottom: 10px;
}

.collection-as-block .nested-collection {
  margin-left: 20px;
}

.collection-as-block span {
  display: block;
  margin-bottom: 5px;
}

.collection-as-block span label {
  vertical-align: bottom;
  margin-left: 5px;
}

table.records tr.not_selected td {
  background-color: #ffede5;
  color: #ff100e;
}

div.inline_buttons {
  padding-top: 27px;
}

.simple_form select.select {
  max-width: 910px;
  width: 100%;
  border: solid 1px #C7C7C7;
  background-color: #FFFFFF;
  padding: 10px 5px;
  height: 44px;
}

h2#title {
  font-weight: bold;
  min-height: 60px;
  margin-top: 0;
  color: #3f6e9d;
  span{
    display: block;
  }
  span.subtitle{
    font-size: 18px;
  }
}

.card-footer:hover {
  background-color: #7392b8;
  background-image: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,.4), rgba(255,255,255,0), rgba(255,255,255,.4));
  color: #ffffff!important;
  font-weight: bold;
}
#sidebarMenu a:hover {
  background-color: rgba(35, 114, 163, 0.39);
  background-image: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,.4), rgba(255,255,255,0), rgba(255,255,255,.4));
}

.text-muted{
  color: #0056b3!important;
}

.subtitle-menu{
  font-size: 16px;
  font-weight: 800;
  padding-left: 6%;
  padding-top: 16px;
  padding-bottom: 30px;
  letter-spacing: 1px;
  color: rgb(97,97,97) !important;
  text-align: left;
  display: inherit;
  height: 23px;
}
.header_title{
  color: rgb(255,255,255);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 6px;
}
.nav-title {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 36px;
  border:1px solid #365f88;
  background-image: linear-gradient(to bottom, white, #4c7baa);
}
body{
  font-size: 1rem!important;
}

h3.divider {
  letter-spacing: normal;
  word-spacing: normal;
  text-align: center;
  font-weight: 400;
  background: linear-gradient(#4a83c0, #598ec5);
  color: #fff;
  padding: 5px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #4C7BAA;
}
