.notice, .alert {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1em;
}

.notice {
  background: #FCF1C9;
  background: -o-linear-gradient(#FCF1C9, #EFDD8E);
  background: -moz-linear-gradient(#FCF1C9, #EFDD8E);
  background: -webkit-linear-gradient(#FCF1C9, #EFDD8E);
  border: 1px solid #D5C47B;
  color: #3F4061;
  text-shadow: 0 1px 2px #FFF;
}

.alert {
  background: #E75F54;
  background: -o-linear-gradient(#E75F54, #C24031);
  background: -moz-linear-gradient(#E75F54, #C24031);
  background: -webkit-linear-gradient(#E75F54, #C24031);
  border: 1px solid #AD382A;
  color: #FFF;
  text-shadow: 0 1px 2px #AD382A;
}
