html {
  background: #6090BF;
  background: #CDE7FA -moz-linear-gradient(#6090BF, #CDE7FA) no-repeat;
  background: #CDE7FA -webkit-linear-gradient(#6090BF, #CDE7FA) no-repeat;
  height: 100%;
}

a {
  color: #519AE4;
  text-decoration: underline;
}

#container {
  background: #FFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 3em;
  padding: 0 1em 1em 1em;
  width: 1002px;
}