table.records {
  color: #A7A7A7;
  width: 100%;
}

table.records p {
  margin: 0;
}

table.records a {
  font-size: 123.1%;
}

table.records td, table.records th {
  border: solid 1px #E8EAEE;
  padding: 1em;
}

table.records th {
  background: #F8F8F8;
}

table.records tr:nth-child(odd) td {
  background-color: #FFF;
}

table.records tr:nth-child(even) td {
  background-color: #F1F9FD;
}

table.records tr:hover td {
  background-color: #FDFFDC;
}