<div class="actions">
  <ul>
    <li>
      <%= link_to 'Voltar ao processo licitatório', edit_licitation_process_path(parent) %>
    </li>
    <% if parent.allow_bidders? %>
      <li>
        <%= create_link %>
      </li>
    <% end %>
  </ul>
</div>
