<div class="actions">
  <ul>
    <li>
      <%= link_to 'Voltar ao processo licitatório', edit_licitation_process_path(params[:licitation_process_id]) %>
    </li>
    <% if @licitation_process.envelope_opening? %>
      <li>
        <%= create_link %>
      </li>
    <% end %>
  </ul>
</div>
