<div id="items" class="container">

  <div class="yui3-g">
    <div class="yui3-u-1-2">
      <%= f.input :proposal_total_value, :input_html => { :class => 'proposal-total-value', :value => f.object.decorator.proposal_total_value, :size => 12, :disabled => true } %>
    </div>
  </div>

  <%= f.association :proposals, :collection => f.object.proposals do |p| %>
    <%= render 'licitation_process_bidder_proposals/form', :f => p %>
  <% end %>
</div>

<script>
  $('.item-number').each( function(index, item) {
    $(this).html(index + 1);
  });
</script>
