<div class="actions">
  <ul>
    <% if filter? %>
      <li>
        <%= filter_link %>
      </li>
    <% end %>

    <% if create? %>
      <li>
        <%= link_to 'Gerar Compra Direta', new_resource_path %>
      </li>
    <% end %>
  </ul>
</div>
