<div class="tabs">
  <ul>
    <li><a href="#general">Dados gerais</a></li>
    <li><a href="#items">Itens</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>

  <div id="items">
    <%= render 'items', :f => f %>
  </div>
</div>

<script>
  $('.tabs').tabs({
    create: function () {
      var tabWithError = $('.ui-tabs-panel:has(.error)', this).attr('id');

      if (tabWithError) {
        $(this).tabs('select', tabWithError);
      }
    }
  });

  function directPurchaseItemsTotalValue() {
    var total = 0,
        value;
    $.each($('.item-price:visible'), function() {
      value = $(this).attr('value')
      if (value != '') {
        total += parsePtBrFloat(value);
      }
    });
    return floatToPtBrString(total);
  }

  $('form.direct_purchase').delegate('.item-quantity, .item-unit-price, .item-price', 'keyup', function() {
    $('#direct_purchase_items_total_value').val(directPurchaseItemsTotalValue);
  });

  $('form.direct_purchase').delegate('.remove-direct-purchase-item', 'click', function() {
    $('#direct_purchase_items_total_value').val(directPurchaseItemsTotalValue);
  });
</script>
