<div class="yui3-g">
  <div class="yui3-u-1-8">
    <%= f.input :year %>
  </div>
</div>

<div class="yui3-g">
  <div class="yui3-u-1-5">
    <%= f.input :date %>
  </div>
</div>

<%= f.input :modality %>
