<div class="tabs">
  <ul>
    <li>
      <a href="#tab-price-registration-main">Principal</a>
    </li>

    <li>
      <a href="#tab-price-registration-items">Itens por Estruturas Orçamentárias Participantes</a>
    </li>

    <li>
      <a href="#tab-winning-bidder">Fornecedores Vencedores</a>
    </li>
  </ul>

  <div id="tab-price-registration-main">
    <%= render 'main', :f => f %>
  </div>

  <div id="tab-price-registration-items">
    <%= render 'items', :f => f %>
  </div>

  <div id="tab-winning-bidder">
    <%= render 'winning_bidders', :f => f %>
  </div>
</div>

<script>
  $('form.price_registration').on('focus', '.budget-structure-modal', function(){
    filterModalUrl(this);
  });

  $('form.price_registration').on('click', '.remove-price-registration-budget-structure', function() {
    $(this).closest('.price-registration-budget-structure').find('.budget-structure-modal').removeClass('budget-structure-modal');
  });

  $('#price_registration_date').on('change', function(){
    var date = $(this).val(),
        format = 'DD/MM/YYYY',
        currentValidatyDate = $('#price_registration_validaty_date').val(),
        oneYearLater = '';

    if (currentValidatyDate == "") {
      if (date) {
        oneYearLater = moment(date, format).add('years', 1);
      }

      $("#price_registration_validaty_date").val(oneYearLater.format(format));
    }
  });

  function filterModalUrl(modal){
    var selectedBudgetStructures = [];

    $(modal).closest('.price-registration-item').find('.budget-structure-modal').each(function(index, item) {
      var budgetStructureId = $(item).next('input:hidden').val();
      if (budgetStructureId) {
        selectedBudgetStructures.push(budgetStructureId);
      }
    });

    var url = "<%= modal_budget_structures_path %>?",
        params = {
          except_ids: selectedBudgetStructures
        };

    url += jQuery.param(params);

    $(modal).closest('.price-registration-item').find('.budget-structure-modal').data('modal-url', url);
  };
</script>
