<div class="tabs">
  <ul>
    <li>
      <a href="#tab-price-registration-main">Principal</a>
    </li>

    <li>
      <a href="#tab-price-registration-items">Itens por Estruturas Orçamentárias Participantes</a>
    </li>

    <li>
      <a href="#tab-winning-bidder">Fornecedores Vencedores</a>
    </li>
  </ul>

  <div id="tab-price-registration-main">
    <%= render 'main', :f => f %>
  </div>

  <div id="tab-price-registration-items">
    <%= render 'items', :f => f %>
  </div>

  <div id="tab-winning-bidder">
    <%= render 'winning_bidders', :f => f %>
  </div>
</div>
