<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#planning">Programação</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>
  <div id="planning">
    <%= render 'planning', :f => f %>
  </div>
</div>

<script>
  function applyMonthValue(value) {
    $('#month').find('td.value').each(function(){
      $(this).html(numberWithDelimiter(value));
    });
  }

  function calculateDivide(){
    var input_value = $('#revenue_accounting_value').val();
    if (input_value) {
      value = parsePtBrFloat(input_value);
      calculed = toFixedRoundDown(value / 12);
      applyMonthValue(calculed);

      rest = value - (calculed.toFixed(2) * 12);

      $('#month_12').find('td.value').html(numberWithDelimiter(parseFloat(calculed) + rest));
    }
  }

  $('#revenue_accounting_revenue_nature_id').on('change', function (event, revenue_nature) {
    if (revenue_nature) {
      $('#revenue_accounting_revenue_nature_docket').val(revenue_nature.docket);
    } else {
      $('#revenue_accounting_revenue_nature_docket').val('');
    }
  });

  $('#revenue_accounting_kind').on('change', function(){
    var kind = $(this).val();

    if (kind == '<%= RevenueAccountingKind::AVERAGE %>') {
      $('#revenue_accounting_value').val('').attr('disabled', true);
      applyMonthValue(0);
    } else if (kind == '<%= RevenueAccountingKind::DIVIDE %>') {
      $('#revenue_accounting_value').attr('disabled', false);
      calculateDivide();
    }
  }).change();

  $('form.revenue_accounting').delegate('#revenue_accounting_value', 'keyup', calculateDivide);
</script>
