<div class="tabs">
  <ul>
    <li><a href="#general">Principal</a></li>
    <li><a href="#planning">Programação</a></li>
  </ul>

  <div id="general">
    <%= render 'general', :f => f %>
  </div>
  <div id="planning">
    <%= render 'planning', :f => f %>
  </div>
</div>

<script>
  function applyMonthValue(value) {
    $('#month').find('td.value').each(function(){
      $(this).html(floatToPtBrString(value));
    });
  }

  function calculateDivide(){
    var input_value = $('#revenue_accounting_value').val();
    if (input_value) {
      value = Big.parse(parsePtBrFloat(input_value));
      calculed = value.over(Big.parse(12));
      applyMonthValue(parseFloat(calculed));
    }
  }

  $('#revenue_accounting_revenue_nature').on('change', function(event, data){
    if (data) {
      var record = data.record;
      $('#revenue_accounting_revenue_nature_docket').val(record.data('docket'));
    } else {
      $('#revenue_accounting_revenue_nature_docket').val('');
    }
  });

  $('#revenue_accounting_kind').on('change', function(){
    var kind = $(this).val();

    if (kind == '<%= RevenueAccountingKind::AVERAGE %>') {
      $('#revenue_accounting_value').val('').attr('disabled', true);
      applyMonthValue(0);
    } else if (kind == '<%= RevenueAccountingKind::DIVIDE %>') {
      $('#revenue_accounting_value').attr('disabled', false);
      calculateDivide();
    }
  }).change();

  $('form.revenue_accounting').delegate('#revenue_accounting_value', 'keyup', calculateDivide);
</script>
