<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#purchase_process">Processo de Compra</a>
    </li>

<!--    <li>-->
<!--      <a href="#pledge_request_items">Itens</a>-->
<!--    </li>-->
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="purchase_process">
    <%= render 'purchase_process', :f => f %>
  </div>

  <div id="pledge_request_items">
    <%#= render 'items', :f => f %>
  </div>
</div>
