<!--<div class="yui3-g">-->
<!--  <div class="yui3-u-1-4">-->
    <%#= f.input :items_total_value, as: :fake, disabled: true,
      input_html: { :value => number_to_currency(f.object.items_total_value, :format => "%n") } %>
  </div>
</div>

<%#= f.input :items %>


