<div class="tabs">
  <ul>
    <li><a href="#main">Principal</a></li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>
</div>

<script>
  $("#tce_specification_capability_capability_source_id").change(function (event, capability_source) {
    if (capability_source) {
      $('#tce_specification_capability_capability_source_specification').val(capability_source.specification);
    } else {
      $('#tce_specification_capability_capability_source_specification').val('');
    }
  });

  $("#tce_specification_capability_application_code_id").change(function (event, application_code) {
    if (application_code) {
      $('#tce_specification_capability_application_code_specification').val(application_code.specification);
    } else {
      $('#tce_specification_capability_application_code_specification').val('');
    }
  });
</script>
