<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#lots">Lotes de itens</a>
    </li>

    <li>
      <a href="#creditors">Fornecedores</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="lots">
    <%= render 'lots', :f => f %>
  </div>

  <div id="creditors">
    <%= render 'creditors', :f => f %>
  </div>
</div>

<script>
  $('form.price_collection').on('change', '.material', function (event, material) {
    if (material) {
      $(this).closest('.item').find('.reference-unit').val(material.reference_unit);
    }
  });
</script>
