<div class="tabs">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#purchase_solicitations">Solicitações de Compras</a>
    </li>

    <li>
      <a href="#items">Itens</a>
    </li>

    <%if f.object.persisted? %>
      <li>
        <a href="#price_collection_proposals">Propostas</a>
      </li>
    <% end %>
  </ul>
  

  <div id="main">
    <%= render 'main', f: f %>
  </div>

  <div id="purchase_solicitations">
    <%= render 'purchase_solicitations', f: f %>
  </div>

  <div id="items">
    <%= render 'items', f: f %>
  </div>
  <%if f.object.persisted? %>
    <div id="price_collection_proposals">
      <%= render 'price_collection_proposals', f: f %>
    </div>
  <% end %>
</div>
