<h1>Coleta de preços <%= resource %></h1>

<h2>Apuração: <%= resource.type_of_calculation_humanize %></h2>

<%= render resource.type_of_calculation %>

<%= link_to 'Voltar', edit_price_collection_path(resource), :class => "button primary" %>
