<div class="buttons">
  <%= f.button :submit %>
  <%= f.button :back, :href => classification_trading_item_path(@trading_item) %>
  <%= f.button :destroy, :href => bidder_disqualification_path(resource, :trading_item_id => @trading_item.id) if f.object.persisted? %>
</div>
