<div class="buttons">
  <%= f.button :submit %>
  <%= f.button :back, :href => occurrence_contractual_historics_path(:contract_id => resource.contract_id) %>
  <%= f.button :destroy if f.object.persisted? %>
</div>
