<div class="buttons">
  <%= f.button :submit if can?(:modify, main_controller_name) %>
  <%= f.button :back, :href => occurrence_contractual_historics_path(:contract_id => resource.contract_id) %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>
