<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :organ, as: :modal, hidden_field: 'organ_id' %>
  </div>
  <div class="yui3-u-1-2">
    <%= f.input :purchasing_unit, as: :modal, hidden_field: 'purchasing_unit_id' %>
  </div>
</div>