


<% resource.group_unity.each do |unity| %>
  <div class="text-15" style="margin-bottom: 6px"><b> UNIDADE: <%= unity.to_s %></b></div>
  <% resource.group_project_activity(unity.expenses).each do |project_activity| %>
    <div class="text-15"><b> PROJETO / ATIVIDADE: <%= project_activity.to_s %> </b></div>

    <% resource.records.where(project_activity_id: project_activity).each do |expense| %>
      <div class="text-15">
        <span><%= "#{expense.nature_expense&.nature} Fonte de Recurso: #{expense.resource_source}" %></span>
      </div>
    <% end %>
    <br>
  <% end %>
<% end %>



<style>
  .text-15{
    font-size: 15px;
  }
</style>