<div class="buttons">
  <%= f.button :submit if can?(:modify, main_controller_name) %>
  <%= f.button :back, :href => edit_licitation_process_path(resource.licitation_process) %>

  <% if f.object.persisted? && can?(:destroy, main_controller_name) %>
    <%= f.button :destroy %>
  <% end %>
</div>
