<div class="tabs" id="judment_commission_advices">
  <ul>
    <li>
      <a href="#main">Principal</a>
    </li>

    <li>
      <a href="#members">Membros</a>
    </li>

    <li class='advice'>
      <a href="#advice">Parecer</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'judgment_commission_advices/main', :f => f %>
  </div>

  <div id="members">
    <%= render 'judgment_commission_advices/members', :f => f %>
  </div>

  <div id="advice">
    <%= render 'judgment_commission_advices/advice', :f => f %>
  </div>
</div>

<script>
  function cleanExistingMembers() {
    $('.member.inherited').each(function() {
      $(this).find('input.destroy').attr('value', 'true');
      $(this).hide();
    });
  }

  function createMembersFromLicitationCommission(members) {
    cleanExistingMembers();

    var template = $('#licitation-commission-inherited-member-template'),
        target = $('#licitation-commission-members'),
        member;

    $(members).each(function() {
      member = template.mustache({ uuid_member: _.uniqueId('fresh-'),
                                   licitation_commission_member_id: this.id,
                                   individual_name: this.individual_name,
                                   role_humanize: this.role_humanize,
                                   role_nature_humanize: this.role_nature_humanize,
                                   registration: this.registration,
                                   cpf: this.cpf });
      target.prepend(member);
    });
  }

  $("[name$='[licitation_commission_id]']").change(function (event, adviceLicitationCommission) {
    if (adviceLicitationCommission){
      $("[name$='[licitation_commission_president_name]']").val(adviceLicitationCommission.president_name);
      createMembersFromLicitationCommission(adviceLicitationCommission.members);
    } else {
      $("[name$='[licitation_commission_president_name]']").val('');
      cleanExistingMembers();
    }
  });

  $("#judment_commission_advices").on('change', '.individual', function (event, individual) {
    if (individual){
      $(this).closest('.nested').find('.cpf').val(individual.cpf);
    } else {
      $(this).closest('.nested').find('.cpf').val('');
    }
  });

  $('input[name="licitation_process[type_of_purchase]"]').change(function () {
    if ($('#licitation_process_type_of_purchase_licitation').is(':checked')) {
      $('.advice').removeClass('hidden');
    }else{
      $('.advice').addClass('hidden');
    }
  });

  <% if f.object&.licitation_process&.simplified_processes? %>
    $('.advice').addClass('hidden');
  <% else %>
    $('.advice').removeClass('hidden');
  <% end %>
</script>
