<div class="yui3-g">
  <div class="yui3-u-1-2">
    <%= f.input :minutes_number, :disabled => true %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :year %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :licitation_commission %>
  </div>

  <div class="yui3-u-1-2">
    <%= f.input :licitation_commission_president_name, :disabled => true %>
  </div>
</div>
