<div class="tabs">
  <ul>
    <li>
      <a href="#main">Objeto</a>
    </li>

    <li>
      <a href="#solicitations">Solicitações</a>
    </li>
  </ul>

  <div id="main">
    <%= render 'main', :f => f %>
  </div>

  <div id="solicitations">
    <%= render 'solicitations', :f => f %>
  </div>
</div>
