<div class="buttons">
  <%= f.button :submit, :onclick => "return confirm(confirmationMessage())" %>
  <%= link_to t(:back), back_link_path, :class => 'button' %>
</div>

<%= javascript_include_tag 'trading_item_bid' %>
