<div class="actions">
  <ul>
    <li>
      <%= link_to 'Voltar para a Contrato', edit_contract_path(@parent) %>
    </li>
    <li>
      <%= create_link(:contract_id => @parent.id) %>
    </li>
  </ul>
</div>
