<table id="items" class="records">
  <thead>
    <th></th>
    <th>Lote</th>
    <th>Fornecedor Lance</th>
    <th>Melhor Lance</th>
    <th>Fornecedor Proposta</th>
    <th>Melhor Proposta</th>
    <th width="11%"><%= PurchaseProcessTradingItem.human_attribute_name(:reduction_rate_value) %></th>
    <th width="11%"><%= PurchaseProcessTradingItem.human_attribute_name(:reduction_rate_percent) %></th>
    <th></th>
    <th></th>
    <th>Status</th>
  </thead>

   <tbody>
    <% trading.items.each_with_index do |item, index| %>
      <%= render 'purchase_process_tradings/lots', item: item, index: index %>
    <% end %>
  </tbody>
</table>
