<table id="lots" class="records">
  <thead>
    <th></th>
    <th>Lote</th>
    <th>Melhor Lance</th>
    <th>Fornecedor Lance</th>
    <th>Melhor Proposta</th>
    <th>Fornecedor Proposta</th>
    <th>Status</th>
    <th>Histórico</th>
  </thead>
</table>

<%= render 'creditors' %>
