<table id="items" class="records">
  <thead>
    <th>Item/Grupo</th>
    <th>Melhor Proposta</th>
    <th>Fornecedor Proposta</th>
    <th>Melhor Lance</th>
    <th>Fornecedor Lance</th>
    <th>Status</th>
  </thead>

   <tbody>
    <% trading.items.sort_by!(&:lot).each_with_index do |item, index| %>
      <%= render 'purchase_process_tradings/lots', item: item, index: index, trading: trading %>
    <% end %>
  </tbody>
</table>
