<div class="actions">
  <ul>
    <li>
      <%= link_to 'Voltar ao processo de compra', edit_licitation_process_path(params[:licitation_process_id]) %>
    </li>
    <li>
      <%= create_link(:licitation_process_id => @parent.id) if @parent.updatable? %>
    </li>
  </ul>
</div>
