<div class="buttons">
  <%= f.button :submit, 'data-disabled' => f.object.decorator.licitation_process_not_updatable_message %>
  <%= f.button :back, :href => licitation_process_lots_path(:licitation_process_id => f.object.licitation_process_id) %>
  <%= f.button :destroy, 'data-disabled' => f.object.decorator.licitation_process_not_updatable_message if f.object.persisted? %>
</div>
