<%if resource.licitation_process_id.present?%>
  <%= link_to licitation_process_impugnments_path(:licitation_process_id => resource.licitation_process.id), class: "card-link", :target => :_blank  do %>
    <div class="card-footer text-muted">
      Impugnações Clique Aqui
    </div>
  <% end %>
<% else %>
  <a href="#" class="card-link">
    <div class="card-footer text-muted">
      Impugnações Clique Aqui
    </div>
  </a>
<% end %>

<%if resource.licitation_process_id.present?%>
  <%= link_to licitation_notices_path(:licitation_process_id => resource.licitation_process.id), class: "card-link", :target => :_blank  do %>
    <div class="card-footer text-muted">
      Esclarecimentos e Avisos Clique Aqui
    </div>
  <% end %>
<% else %>
  <a href="#" class="card-link">
    <div class="card-footer text-muted">
      Esclarecimentos e Avisos Clique Aqui
    </div>
  </a>
<% end %>
