<div class="box">
  <h4>
    Pregão Eletrônico
  </h4>

  <div class="inner">
    <p>
      Para participar de Pregão Eletrônico
      <%= link_to 'Clique aqui', auction_auctions_external_index_path %>.
    </p>
  </div>
</div>
